* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--org-color);
    padding: 50px;
}

.S-card-slider{
    width: 100%;
    position: relative;
    height: 200px;
}

.S-card-slider .gallery{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5));
    overflow-x: auto;
    align-items: center;
    gap: 22px;
}

.S-card-slider .gallery .item{
    height: 70%;
    width: 65%;
    background: #232325;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #585757;
    border-radius: 30px;
    cursor: pointer;
}

.S-card-slider .gallery .item img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}
.S-card-slider .gallery::-webkit-scrollbar{
    display: none;
}
.S-card-slider i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90px;
    height: 45px;
    width: 45px;
    font-size: 1.4rem;
    background: #232325;
    color: white;
    border: 1px solid #585757;
    border-radius: 50%;
    box-shadow: 0 3px 6px #0000003b;
    cursor: pointer;
}

.S-card-slider i#left {
    left: -22px;
    padding: 2px 3px 0 0;
}

.S-card-slider i#right {
    right: -22px;
    padding: 2px 0 0 1px;
}
