@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Krona+One&family=Montserrat&family=Roboto:wght@100&family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/*====================================================================================================
========================================== SCROLL STYLE =============================================
====================================================================================================*/
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    border: none;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff80;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffffcc;
}

body {
    height: 100%;
    max-width: 100vw;
    overflow: overlay;

}
/*====================================================================================================
========================================== MAIN STYLE =============================================
====================================================================================================*/
.login-start {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login-start-wallpaper {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/login-background-img.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;

}

.blur-filter {
    height: 100%;
    width: 100%;
    background: rgba(51, 49, 49, 0.5);
    backdrop-filter: blur(4px);
    position: absolute;
    z-index: 1;
}

.global-login-container {
    font-family: "Montserrat", sans-serif;
    margin: -85vh 0 7.5vh;
    z-index: 2;
    width: 70%;

}

.primary-text {
    font-weight: bold;
    margin: 0;
}

.secondary-text {
    font-size: 20px;
    margin: 0px 0 60px 0;
}

.terciary-text {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.quaternary-text {
    font-size: 12px;
}

a {
    color: #383A3B;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
/*====================================================================================================
========================================== CONTAINER STYLE =============================================
====================================================================================================*/
.container {
    background: #9E9C9C;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.336), 0 10px 10px rgba(0, 0, 0, 0.295);
    position: relative;
    overflow: hidden;
    max-width: 100%;
    min-height: 480px;
}

.form-container form {
    background: #9E9C9C;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 2px solid #ddd;
    background-color: #18191A;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: transform 80ms ease-in;
}
    .social-container a i
    {
        color:#ffffff;
    }

    .social-container a:active {
        transform: scale(.95);
    }

    .social-container a:focus {
        outline: none;
    }

.form-container input {
    background: #868686;
    border: none;
    border-radius: 15px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    outline:none;
    color:#ffffff;
}
    .form-container input::placeholder
    {
        color:#ffffff;
    }

.global-login-container button {
    border-radius: 15px;
    border: none;
    background: #383A3B;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.global-login-container button a {
    color: #fff;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: #18191A;
    border: solid 1px #fff;
    border-radius: 15px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;

}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 4;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 3;
}

.forgot
{
    color: #ffffff;
    font-weight: 700;
    padding:10px;
    border-radius:15px;
    transition: transform 80ms ease-in;
}
.forgot:hover
{
    background-color: #868686;
}
.forgot:active {
    transform: scale(.95);
}
/*====================================================================================================
========================================== OVERLAY STYLE =============================================
====================================================================================================*/
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
}

.overlay {
    background: #161616;
    background: #383A3B no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform .6s ease-in-out;
}
/*====================================================================================================
========================================== ANIMATION STYLE =============================================
====================================================================================================*/
.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);

}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%)
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0)
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%)
}

/*====================================================================================================
========================================== FOOTER STYLE =============================================
====================================================================================================*/
