.S-toggle-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.S-toggle-color .S-card-slider {
    position: relative;
    width: 600px;
    height: 140px;
    padding: 0 20px 0 20px;
}

.S-toggle-color .S-card-slider .S-gallery {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.S-toggle-color .S-card-slider .S-gallery .S-card {
    height: 60%;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.S-toggle-color .S-card-slider .S-gallery .S-card img {
    width: 58%;
    height: 70%;
    object-fit: contain;
}

.S-toggle-color .S-card-slider .fa-angle-left,
.S-toggle-color .S-card-slider .fa-angle-right {
    font-size: 1.3rem;
    cursor: pointer;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: var(--fourth-color);
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 #00000081;
    transition: transform 0.1s linear;
    border: 1px solid #585757;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    /* Ajuste o valor de z-index para garantir a exibição correta */
}

.S-toggle-color .S-card-slider .fa-angle-left {
    left: 5px;
    padding-right: 2px;
}

.S-toggle-color .S-card-slider .fa-angle-right {
    right: 5px;
    padding-left: 2px;
}

.S-toggle-color .S-card-slider .S-gallery .S-card.current {
    box-shadow: 0 0 2px 0 var(--org-color-lighter);
    border-color: var(--org-color);
}

.S-toggle-color .S-card-slider .S-gallery .S-card:hover {
    box-shadow: 0 0 2px 0 var(--org-color-lighter);
    border-color: var(--org-color);
    transition: 0.3s;
}

.S-toggle-color .S-card-slider i:hover {
    transition: 0.2s;
    color: var(--org-color);
}