body {
    background-color: var(--body-color);
    overflow: auto;
}

main {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-left: 256px;
    z-index: -1;
}

.All-icon {
    cursor: pointer;
    font-size: var(--size-font-icons);
}

.All-icon:hover {
    color: var(--org-color2);
    transition: 0.2s;
}

.icon-hover {
    position: absolute;
    display: flex;
    min-width: 60px;
    width: auto;
    min-height: 23px;
    font-size: var(--size-font-text);
    font-weight: 600;
    background-color: var(--first-color);
    border-radius: 10px;
    opacity: 0;
    transition-duration: 0.3s;
    letter-spacing: 1px;
}

.All-icon:hover .icon-hover {
    opacity: 1;
    transition-delay: 0.6s;
    transition-duration: 0.22s;
}

/*====================================================================================================
============================================ MENU ASIDE ==============================================
====================================================================================================*/

.M-menu-aside {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 16rem;
    background-color: var(--menu-color);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    transition: width var(--element-in);
}

.M-menu-aside.close {
    width: 4.8rem;
    transition: width var(--element-out);
}

.M-menu-aside section {
    padding: 1rem 0 1.2rem 1.2rem;
    position: relative;
    height: auto;
}

.M-menu-aside section:nth-of-type(2) {
    padding-left: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}

.M-menu-aside .M-aside-gradient {
    position: absolute;
    width: 1px;
    left: 0;
    height: 100vh;
    bottom: 0;
    background-color: var(--org-color1);
    box-shadow: 0 0 5px 0 var(--org-color-lighter);
    z-index: +1;
    transition: var(--element-in);
    transform: translateY(0);
}

.M-menu-aside.close .M-aside-gradient {
    height: 0;
    transition: var(--element-out);
}

.M-menu-aside .M-aside-top {
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    background-color: var(--half-second-color);
}

.M-menu-aside li.active a span {
    color: var(--org-color2);
}

.M-menu-aside li.M-more-pages li.active a span {
    color: var(--org-color2);
}

.M-menu-aside .M-aside-top i.All-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity, transform var(--element-in);
}

.M-menu-aside.close .M-aside-top i.M-close {
    opacity: 0;
    transform: rotate(0deg);
    transition: opacity, transform var(--element-out);
}

.M-menu-aside.close .M-aside-top i.M-open {
    opacity: 1;
    transform: rotate(-360deg);
    transition: opacity, transform var(--element-out);
}

.M-menu-aside .M-aside-top i.M-open {
    opacity: 0;
    font-size: calc(var(--size-font-icons) + 1rem);
    transform: rotate(0deg);
    margin: -1.2rem 0 0 0;
}

.M-menu-aside .M-aside-top i.M-close {
    opacity: 1;
    font-size: calc(var(--size-font-icons) + 1.7rem);
    margin: -1.634rem 0 0 -0.35rem;
    transform: rotate(180deg);
    color: var(--org-color-lighter);
}

.M-menu-aside .M-aside-top .M-user-teams {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    display: flex;
    gap: 0.3rem;
    font-size: 0.35rem;
}

.M-menu-aside.close .M-aside-top .M-user-teams i {
    opacity: 0;
    font-size: 0rem;
}

.M-menu-aside .M-aside-top .M-user-teams .M-team-1 {
    transition: 0.9s;
    transition: font-size 0.55s;
    color: #00EB00;
    cursor: pointer;
}

.M-menu-aside .M-aside-top .M-user-teams .M-team-2 {
    transition: 0.6s;
    transition: font-size 0.45s;
    color: #FF4500;
    cursor: pointer;
}

.M-menu-aside .M-aside-top .M-user-teams .M-team-3 {
    transition: 0.3s;
    transition: font-size 0.25s;
    color: #00A2FF;
    cursor: pointer;
}

.M-menu-aside.close .M-aside-top .M-user-teams .M-team-1 {
    transition: 0.3s;
}

.M-menu-aside.close .M-aside-top .M-user-teams .M-team-2 {
    transition: 0.6s;
}

.M-menu-aside.close .M-aside-top .M-user-teams .M-team-3 {
    transition: 0.9s;
}

.M-menu-aside .M-aside-center ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.65rem;
}

.M-menu-aside .M-aside-center li {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.M-menu-aside .M-aside-center li a {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.M-menu-aside .M-aside-center li span.All-icon {
    font-size: calc(var(--size-font-icons) + 0.3rem);
}

.M-menu-aside .M-aside-center li span.M-title {
    transition: var(--element-in);
    font-size: calc(var(--size-font-subtitle) + 0.2rem);
}

.M-menu-aside.close .M-aside-center li span.M-title {
    opacity: 0;
    transform: translateX(-80px);
}

.M-menu-aside .M-aside-center li span {
    transition: opacity, transform, color var(--element-out);
}

.M-menu-aside .M-aside-center li:hover span {
    color: var(--org-color-lighter);
    transition: 0.1s;
}

.M-menu-aside .M-aside-center li.M-events .M-event-icon {
    position: absolute;
    display: flex;
    width: 1.2rem;
    clip-path: circle();
    transform: translateX(0.75rem) translateY(-0.45rem);
}

.M-menu-aside .M-aside-center li.M-events .M-event-icon img {
    max-width: 100%;
}

.M-menu-aside .M-aside-center li.M-friends .M-message-notify {
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    transform: translateX(1.03rem) translateY(-0.57rem);
    background-color: var(--org-color2);
    border: 2px solid var(--menu-color);
    border-radius: 100%;
}

.M-menu-aside .M-aside-center li .M-aside-more li span {
    transition: var(--element-out);
    color: var(--text-color);
}

.M-menu-aside .M-aside-center li .M-aside-more li:hover span {
    color: var(--org-color-lighter);
    transition: 0.1s;
}

.M-menu-aside .M-more-pages span.All-arrows {
    position: absolute;
    opacity: 1;
    transition: var(--element-in);
    right: 1rem;
    font-size: var(--size-font-icons);
}

.M-menu-aside.close .M-more-pages span.All-arrows {
    opacity: 0;
    transition: var(--element-out);
}

.M-menu-aside .M-aside-more {
    display: flex;
    padding: 1rem;
    position: absolute;
    bottom: 9.5%;
    right: -55%;
    transform: translateX(45%) translateY(55%);
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    background-color: var(--third-color);
    transition: var(--element-in);
}

.M-menu-aside.close .M-aside-more,
.M-menu-aside .M-aside-more.close {
    opacity: 0;
    right: -36%;
    transition: var(--element-out);
}

.M-menu-aside .M-aside-more ul li a {
    display: flex;
    justify-content: flex-start;
    gap: 0.7rem;
    line-height: 0.6rem;
    height: 0.6rem;
}

.M-menu-aside .M-aside-more ul li span.M-title {
    font-size: var(--size-font-subtitle);
}

.M-menu-aside .M-aside-more ul li span.All-icon {
    font-size: var(--size-font-icons);
}

.M-menu-aside .M-aside-footer {
    padding: 1rem;
    padding-left: 0.45rem;
    height: 100%;
    width: 100%;
}

.M-menu-aside .M-aside-footer .M-footer-content {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    width: 105%;
    height: 3.3rem;
    transition: var(--element-out);
    background-color: var(--half-second-color);
    border-radius: 2rem;
}

.M-menu-aside.close .M-aside-footer .M-footer-content {
    border-radius: 0;
    background-color: transparent;
}

.M-menu-aside .M-aside-footer .M-footer-content .M-user-images {
    width: 3.7rem;
    height: 100%;
    display: flex;
    z-index: +1;
    border-radius: 100%;
    box-shadow: 0 0 5px 0px black;
}

.M-menu-aside .M-aside-footer .M-footer-content .M-user-images .profile-img {
    display: flex;
    width: 3.7rem;
    clip-path: circle();
}

.M-menu-aside .M-aside-footer .M-footer-content .M-user-images a:hover .icon-hover {
    opacity: 1;
    transition-delay: 0.6s;
    transition-duration: 0.22s;
}

.M-menu-aside .M-aside-footer .M-footer-content .M-user-images a .icon-hover {
    top: -1.2rem;
    left: 10px;
    width: 5.5rem;
    transition-duration: 0.3s;
}

.M-menu-aside .M-aside-footer .M-footer-content .M-user-images .profile-img img {
    max-width: 100%;
}

.M-menu-aside .M-aside-footer .M-footer-content .M-user-images .M-user-status {
    position: absolute;
    display: flex;
    width: 4rem;
    height: 4rem;
    clip-path: circle();
    border: 7px dashed var(--org-color1);
    border-radius: 100%;
    z-index: -1;
}

.M-menu-aside .M-aside-footer .M-footer-content .M-user-images .org-img {
    position: absolute;
    display: flex;
    width: 1.5rem;
    clip-path: circle();
    transform: translateX(1.3rem) translateY(1.2rem);
}

.M-menu-aside .M-aside-footer .M-footer-content .M-user-images .org-img img {
    max-width: 100%;
}

.M-menu-aside .M-aside-footer .M-footer-content .M-user-informations {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 80%;
    position: absolute;
    left: 2.2rem;
    transform: translateY(-2px);
}

.M-menu-aside .M-aside-footer .M-footer-content .M-user-informations .M-nick {
    font-size: var(--size-font-title);
    font-weight: bolder;
    letter-spacing: 1px;
    transition: opacity, transform var(--element-in);
}

.M-menu-aside .M-aside-footer .M-footer-content .M-user-informations .M-name {
    margin: -0.3rem 0 0 -0.5rem;
    font-size: calc(var(--size-font-text) - 1px);
    font-weight: 600;
    letter-spacing: 0px;
    transition: opacity, transform var(--element-in);
}

.M-menu-aside.close .M-aside-footer .M-footer-content .M-user-informations p {
    opacity: 0;
    transform: translateX(-140px);
    transition: var(--element-out);
}

.M-menu-aside .M-aside-footer .M-footer-content .M-log-buttom {
    position: absolute;
    display: flex;
    right: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    transition: opacity var(--element-in);
}

.M-menu-aside.close .M-aside-footer .M-footer-content .M-log-buttom {
    opacity: 0;
    transition: opacity var(--element-out);
}

.M-menu-aside .M-aside-footer .M-footer-content .M-log-buttom.active {
    background-color: var(--active-color);
}

.M-menu-aside .M-aside-footer .M-footer-content .M-log-actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1.5rem;
    width: 14rem;
    height: 5rem;
    top: -4.7rem;
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    background-color: var(--menu-color);
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    transition: var(--element-in);
}

.M-menu-aside.close .M-aside-footer .M-footer-content .M-log-actions,
.M-menu-aside .M-aside-footer .M-footer-content .M-log-actions.close {
    opacity: 0;
    z-index: -10;
    top: 0;
    transition: var(--element-out);
}

.M-menu-aside .M-aside-footer .M-footer-content .M-log-actions ul li a {
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
    height: 1.5rem;
    line-height: 1.5rem;
}

.M-menu-aside .M-aside-footer .M-footer-content .M-log-actions ul li a span {
    transition: color 0.4s;
}

.M-menu-aside .M-aside-footer .M-footer-content .M-log-actions ul li a:hover span {
    color: var(--org-color1);
    transition: color 0.2s;
}

.M-menu-aside .M-aside-footer .M-footer-content .M-log-actions ul li span.M-title {
    font-size: var(--size-font-subtitle);
}

.M-menu-aside .M-aside-footer .M-footer-content .M-log-actions ul li span.All-icon {
    font-size: var(--size-font-icons);
}

/*=========================================================================================================
======================================== GLOBAL: I-QUICK-MESSAGES ==========================================
===========================================================================================================*/

.Q-quick-messages {
    position: fixed;
    right: 0;
    bottom: -1px;
    width: 30%;
    height: 60%;
    background-color: var(--menu-color);
    border: 1px solid var(--org-color-darker);
    border-bottom: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: all 0.5s;
    z-index: 11;
}

.Q-quick-messages.close {
    bottom: -60vh;
    border-color: var(--border-color);
}

.Q-quick-messages .Q-message-content {
    width: 100%;
    height: 100%;
    display: flex;
}

.Q-quick-messages.close .Q-message-content {
    overflow: hidden;
}

.Q-quick-messages .Q-message-pusher {
    position: absolute;
    top: -2.3rem;
    right: 50%;
    transform: translateX(50%);
    width: 15rem;
    max-width: 15rem;
    height: 2.3rem;
    line-height: 2.5rem;
    text-align: center;
    background: var(--menu-color);
    border: 1px solid var(--org-color-darker);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom: none;
    cursor: pointer;
    font-size: calc(var(--size-font-icons) + 10px);
    transition: all 0.5s;
}

.Q-quick-messages.close .Q-message-pusher {
    border-color: var(--border-color);
}

.Q-quick-messages.close .Q-message-pusher i {
    color: var(--text-color);
    transition: all 0.3s;
}

.Q-quick-messages .Q-message-pusher i {
    color: var(--org-color1);
    transition: all 0.3s;
}

.Q-quick-messages p {
    font-size: larger;
    letter-spacing: 5px;
    transition: 0.3s;
}

.Q-quick-messages:hover p,
.Q-quick-messages:hover .Q-message-pusher,
.Q-quick-messages:hover {
    color: var(--org-color1);
    border-color: var(--org-color1);
}


/*==============================================================================================================
=========================================== HOME/INDEX: H-Timeline =============================================
================================================================================================================*/


.H-timeline{
    background-color: var(--second-color);
    width: 100%;
    height: 100vh;
}


/*===============================================================================================================
============================================= HOME/INDEX: H-Aside================================================
================================================================================================================*/


.H-aside{
    background-color: var(--third-color);
    width: 50%;
    height: 100vh;
    border-left: 1px solid var(--border-color);
    overflow: hidden;
}

.H-aside .H-search{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
}

.H-aside .H-search .H-search-input {
    background-color: var(--third-color);
    border: 1px solid var(--border-color);
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    min-width: 20rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 0 0.3125rem 0 0.3125rem;
}

.H-aside .H-search .H-search-input input {
    outline: none;
    border: none;
    width: 12.5rem;
    background: none;
}

.H-aside .H-user-notify{
    display: flex;
    border: 1px solid var(--border-color);
    width: 2.2rem;
    height: 2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
/*===========================================================================================================
=========================================== CONFIG: S-SETTINGS ==============================================
===========================================================================================================*/

.S-settings {
    position: relative;
    width: 40%;
    min-width: 28rem;
    height: 100%;
    border-right: 1px solid var(--border-color);
    background-color: var(--second-color);
    overflow-y: auto;
}

.S-settings .S-top {
    position: sticky;
    top: 0;
    min-height: 4.8rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem 2rem 1.5rem 3rem;
    background-color: var(--second-color);
    z-index: 2;
}

.S-settings .S-div-search {
    position: sticky;
    top: 5rem;
    height: 7rem;
    display: flex;
    overflow: hidden;
    transition: all 0.5s;
    background-color: var(--second-color);
    z-index: 1;
}

.S-settings .S-center {
    position: relative;
    margin-top: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.S-settings .S-top::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1.4rem;
    min-width: 93%;
    border-bottom: 1px solid var(--border-color);
}

.S-settings .S-top .S-tittle {
    font-size: var(--size-font-title);
    font-weight: bolder;
    letter-spacing: 3px;
}

.S-settings .S-top .S-others-functions {
    position: absolute;
    right: 1.2rem;
    display: grid;
    height: auto;
    width: 20px;
    gap: 30px;
}

.S-settings .S-top .S-others-functions i {
    display: flex;
    background-color: var(--first-color);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    transition: 0.2s;
    font-size: var(--size-font-icons);
    border-right: 2px dashed transparent;
}

.S-settings .S-top .S-others-functions i:hover {
    border-color: var(--org-color2);
}

.S-settings .S-top .S-others-functions a {
    width: 100%;
    height: 5px;
}

.S-settings .S-top .S-others-functions i:hover .icon-hover {
    opacity: 0.8;
}

.S-settings .S-top .S-others-functions .S-search-icon .icon-hover {
    position: absolute;
    left: -110px;
    width: 90px;
}

.S-settings .S-div-search.close {
    transform: translateY(2px);
    height: 0;
    transition: 0.5s;
    position: static;
    overflow: hidden;
}

.S-settings .S-div-search::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    transition: 0.5s;
}

.S-settings .S-div-search.close::before {
    width: 0px;
    left: 50%;
    transition: 0.7s;
}

.S-settings .S-div-search .S-search-buttom {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    height: 1.9rem;
    width: 22rem;
    background-color: var(--first-color);
    border-radius: 5rem;
    border: solid 1px var(--border-color);
    padding: 0 5px 0 5px;
}

.S-settings .S-div-search input {
    width: 80%;
    outline: none;
    border-style: none;
    background-color: transparent;
}


.S-settings::-webkit-scrollbar {
    display: none;
}

.S-settings .S-center ul .S-buttom {
    width: 100%;
    height: 100%;
}

.S-settings .S-center ul .S-buttom {
    line-height: 3rem;
    letter-spacing: 1px;
    padding-left: 3rem;
    font-size: var(--size-font-subtitle);
}

.S-settings .S-center ul .S-buttom::after {
    content: '';
    position: absolute;
    width: 92%;
    left: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    transition: 0.5s;
}

.S-settings .S-center ul .S-buttom.active {
    color: var(--org-color1);
    background-color: var(--third-color);
    border-left: 1px solid var(--org-color1);
    border-right: 1px solid var(--org-color1);
}

.S-settings .S-center ul .S-buttom.active::after {
    width: 100%;
    left: 0;
    transition: 0.5s;
}

.S-settings .S-center ul .S-buttom:hover {
    background-color: var(--third-color);
}

.S-settings .S-center ul .S-buttom .S-subbuttom .S-open-list-icon {
    position: absolute;
    right: 10px;
    margin-top: -40px;
    transition: 0.4s;
    font-size: calc(var(--size-font-icons) + 10px);
}

.S-settings .S-center ul .S-buttom.active .S-subbuttom .S-open-list-icon {
    transform: rotate(-90deg) translate(0px);
    color: var(--org-color2);
    transition: 0.3s;
}

.S-settings .S-center ul .S-buttom.active p {
    transition: color 1s;
    cursor: pointer;
}

.S-settings .S-center ul .S-buttom.active p:hover {
    color: var(--org-color1);
    transition: color 0.1s;
}

.S-settings .S-center ul .S-buttom .S-subbuttom {
    line-height: 1.5rem;
    padding-left: 2.5rem;
    font-size: var(--size-font-text);
    letter-spacing: 2px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
}

.S-settings .S-center ul .S-buttom .S-subbuttom li {
    opacity: 0;
    transition: opacity 1.5s;
}

.S-settings .S-center ul .S-buttom.active .S-subbuttom li {
    opacity: 1;
    transition: opacity 0.4s;
}

.S-settings .S-center ul .S-buttom.active .S-subbuttom {
    max-height: 500px;
    opacity: 1;
}



/*====================================================================================================
======================================= CONFIG: S-SUBSETTINGS ========================================
====================================================================================================*/


.S-subsettings {
    position: relative;
    display: block;
    height: 100%;
    width: 60%;
    min-width: 37.5rem;
    background-color: var(--third-color);
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    scroll-behavior: smooth;
}

.S-subsettings::-webkit-scrollbar {
    display: none;
}

.S-subsettings .S-tier #S-section-divisions {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.7rem;
    border-bottom: 1px solid var(--border-color);
}

.S-subsettings .S-tier #S-section-divisions:last-child {
    border-bottom: none;
}

.S-subsettings .S-tier #S-section-divisions:last-child {
    border-bottom: none;
}

.S-subsettings .S-tier #S-section-divisions article {
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--border-color);
    line-height: 2rem;
}

.S-subsettings .S-tier {
    display: none;
}

.S-subsettings .S-tier.active {
    opacity: 1;
    display: block;
    padding-top: 2.5rem;
}

.S-subsettings .S-tier article .S-article-title {
    font-size: calc(var(--size-font-subtitle) + 4px);
    padding: 0 0 0.5rem 2rem;
    letter-spacing: 2px;
    transition: color 0.4s;
}

.S-subsettings .S-tier .S-article-subtitle {
    padding: 0 0 0 4rem;
    font-size: calc(var(--size-font-subtitle) + 1px);
}

.S-subsettings .S-account-profile {
    height: 100%;
    width: 100%;
}

.S-subsettings .S-account-profile .S-profile {
    position: relative;
    width: 100%;
}

.S-subsettings .S-account-profile .S-profile .S-cover {
    position: relative;
    width: 100%;
    height: 170px;
}

.S-subsettings .S-account-profile .S-profile .S-cover img {
    width: 100%;
    height: 100%;
}

.S-subsettings .S-account-profile .S-profile .S-profile-content {
    position: relative;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 65px;
    background-color: var(--third-color);
}

.S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images {
    position: absolute;
    display: flex;
    width: 15%;
    min-width: 6.25rem;
    height: 155%;
    min-height: 4.7rem;
    max-height: 12rem;
    max-width: 6.25rem;
    bottom: 0.3rem;
    left: 1rem;
}

.S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images img {
    cursor: pointer;
}

.S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images .perfil-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images::before {
    content: '';
    position: absolute;
    width: 112%;
    height: 112%;
    background-color: var(--third-color);
    border-radius: 45px;
}

.S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images .org-img {
    position: absolute;
    width: 31%;
    height: 31%;
    bottom: 0.05rem;
    right: -0.1rem;
    border-radius: 100%;
}

.S-subsettings .S-account-profile .S-profile .S-profile-content .S-user-informations {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 8.25rem;
    height: 100%;
    gap: 0.5rem;
    width: auto;
    font-size: var(--size-font-text);
    line-height: 1rem;
}

.S-subsettings .S-account-profile .S-profile .S-profile-content .S-user-informations .nick {
    font-size: 1.7rem;
    font-weight: bolder;
    color: var(--org-color1);
    letter-spacing: 2px;
}

.S-subsettings .S-account-profile .S-profile .S-profile-content .S-user-informations .name {
    padding-left: 0.2rem;
}

.S-subsettings .S-account-profile .S-profile .S-profile-content .S-edit-profile-icon {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

.S-subsettings .S-account-profile .S-profile .S-profile-content .S-edit-profile-icon span.icon-hover {
    width: 7.2rem;
    top: -1px;
    right: 2rem;
    height: 1rem;
}

.S-subsettings .S-account-profile .S-profile .S-profile-numbers {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 3.2rem;
    font-size: var(--size-font-text);
}

.S-subsettings .S-account-profile .S-profile .S-profile-numbers span {
    display: flex;
    gap: 0.5rem;
}

.S-subsettings .S-account-profile .S-profile .S-profile-numbers b {
    color: var(--org-color1);
    font-size: var(--size-font-subtitle);
    cursor: pointer;
    transition: 0.5s;
    font-weight: lighter;
}

.S-subsettings .S-account-profile .S-bio {
    position: relative;
    width: 100%;
    height: 6.25rem;
    padding-left: 0.8rem;
    margin-left: 1rem;
    border-left: 1px solid var(--border-color);
    font-size: var(--size-font-subtitle);
}

.S-subsettings .S-account-profile .S-bio textarea {
    position: relative;
    width: 100%;
    height: 75%;
    outline: none;
    border-style: none;
    background-color: transparent;
}

.S-subsettings .S-appearence .S-theme {
    position: relative;
    width: 100%;
}

.S-subsettings .S-appearence .S-theme .S-theme-tips{
    text-align: center;
    margin: -1rem 0 1rem 0;
    padding-bottom: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    font-size: calc(var(--size-font-text) + 1px);
}

.S-subsettings .S-appearence .S-theme .S-theme-tips strong{
    color: var(--org-color1);
    letter-spacing: 1px;
}

.S-subsettings .S-appearence .S-theme .S-toggle-mode {
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.S-subsettings .S-appearence .S-theme .S-toggle-mode .S-checkbox {
    opacity: 0;
    position: absolute;
}

.S-subsettings .S-appearence .S-theme .S-toggle-mode .S-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    height: 1.1rem;
    width: 2.25rem;
    border-radius: 10rem;
    transform: scale(1.5);
    background-color: var(--body-color);
    font-size: 0.63rem;
    letter-spacing: 0.5rem;
    cursor: pointer;
}

.S-subsettings .S-appearence .S-theme .S-toggle-mode .S-label .S-sun {
    color: #ffd900;
}

.S-subsettings .S-appearence .S-theme .S-toggle-mode .S-label .S-moon {
    color: #2d2dff;
}

.S-subsettings .S-appearence .S-theme .S-toggle-mode .S-ball {
    background-color: var(--white-to-black-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 80%;
    width: 40.2%;
    transform: translateX(0);
    transition: transform 0.2s linear;
}

.S-subsettings .S-appearence .S-theme .S-toggle-mode .S-checkbox:checked+.S-label .S-ball {
    transform: translateX(1.1rem);
}

.S-subsettings .S-appearence .S-theme .S-toggle-colors{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 4.5rem 2rem 4.5rem ;
}

.S-subsettings .S-appearence .S-theme .S-toggle-colors .S-colors{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: wheat;
    cursor: pointer;
    opacity: 40%;
    transition: opacity calc(var(--element-out) - 0.2s);
}

.S-subsettings .S-appearence .S-theme .S-toggle-colors .S-colors:hover,
.S-subsettings .S-appearence .S-theme .S-toggle-colors .S-colors.active {
    opacity: 100%;
    transition: calc(var(--element-in) - 0.2s);
}

.S-subsettings .S-appearence .S-theme .S-toggle-colors .S-colors.G-white{
    background-color: #EFEFEF;
    border: 1px solid #646464;
    box-shadow: 0 0 2px 1px #646464;
}

.S-subsettings .S-appearence .S-theme .S-toggle-colors .S-colors.G-red{
    background-color: #FF0000;
    border: 1px solid #6F0000;
    box-shadow: 0 0 2px 1px #6F0000;
}

.S-subsettings .S-appearence .S-theme .S-toggle-colors .S-colors.G-orange{
    background-color: #FF7A00;
    border: 1px solid #733700;
    box-shadow: 0 0 2px 1px #733700;
}

.S-subsettings .S-appearence .S-theme .S-toggle-colors .S-colors.G-yellow{
    background-color: #FFFF00;
    border: 1px solid #555500;
    box-shadow: 0 0 2px 1px #555500;
}

.S-subsettings .S-appearence .S-theme .S-toggle-colors .S-colors.G-green{
    background-color: #00FF00;
    border: 1px solid #005B00;
    box-shadow: 0 0 2px 1px #005B00;
}

.S-subsettings .S-appearence .S-theme .S-toggle-colors .S-colors.G-cyan{
    background-color: #00FFFF;
    border: 1px solid #005858;
    box-shadow: 0 0 2px 1px #005858;
}

.S-subsettings .S-appearence .S-theme .S-toggle-colors .S-colors.G-blue{
    background-color: #1E90FF;
    border: 1px solid #005383;
    box-shadow: 0 0 2px 1px #005383;
}

.S-subsettings .S-appearence .S-theme .S-toggle-colors .S-colors.G-purple{
    background-color: #A020F0;
    border: 1px solid #2E004A;
    box-shadow: 0 0 2px 1px #2E004A;
}

.S-subsettings .S-appearence .S-theme .S-toggle-colors .S-colors.G-pink{
    background-color: #FF008A;
    border: 1px solid #51002C;
    box-shadow: 0 0 2px 1px #51002C;
}

.S-subsettings .S-appearence .S-font-style div {
    display: flex;
    gap: 50px;
}

.S-subsettings .S-appearence .S-font-style .S-all-font-size .All-icon {
    font-size: calc(var(--size-font-icons) + 0.3rem);
    transition: 0.15s;
}

.S-subsettings .S-appearence .S-font-style input[type=range] {
    appearance: none;
    background-color: var(--body-color);
    height: 0.45rem;
    width: 20rem;
    border-radius: 100rem;
    cursor: pointer;
}

.S-subsettings .S-appearence .S-font-style input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: var(--org-color-darker);
    border: 2px dotted var(--org-color1);
    transition: 0.2s;
    opacity: 0.9;
}

.S-subsettings .S-appearence .S-font-style input[type=range]:hover::-webkit-slider-thumb {
    background-color: var(--org-color1);
    box-shadow: 0 0 3px 0px var(--org-color-lighter);
}

.S-subsettings .S-appearence .S-font-style div .S-font-size-value {
    width: 34px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    color: var(--org-color2);
    font-weight: 600;
    font-size: calc(var(--size-font-icons) -5px);
}

.S-subsettings .S-appearence .S-font-style i.All-icon.S-font-config {
    float: right;
    position: relative;
    margin: 0 15px 15px 0;
    font-size: calc(var(--size-font-icons) + 0.1rem);
    font-weight: bolder;
    width: 35px;
    height: 35px;
    background-color: var(--first-color);
    border-radius: 12px;
    display: flex;
}

.S-subsettings .S-appearence .S-font-style .S-font-advanced-config {
    height: 20.5rem;
    display: block;
    overflow: hidden;
    transition: height 0.5s;
    clear: both;
}

.S-subsettings .S-appearence .S-font-style .S-font-advanced-config.close {
    height: 0rem;
}

.S-subsettings .S-appearence article:hover .S-font-advanced-config .S-article-title {
    color: var(--text-color);
}

.S-subsettings .S-suport .S-faq .S-questions-section {
    position: relative;
    display: flex;
    gap: 20rem;
}

.S-subsettings .S-suport .S-faq .S-questions-section .S-generalQ-title.active,
.S-subsettings .S-suport .S-faq .S-questions-section .S-otherQ-title.active {
    color: var(--org-color1);
}

.S-subsettings .S-suport .S-faq .S-questions-section .S-line {
    position: absolute;
    bottom: -1px;
    width: 18rem;
    height: 1px;
    background-color: var(--org-color1);
    border-radius: 5rem;
    z-index: 1;
}

.S-subsettings .S-suport .S-faq .S-questions-section .S-line.S-geral-active {
    transform: translate(-11.5rem);
    transition: transform var(--element-in);
}

.S-subsettings .S-suport .S-faq .S-questions-section .S-line.S-other-active {
    transform: translate(12rem);
    transition: transform var(--element-in);
}

.S-subsettings .S-suport .S-faq .S-all-questions {
    display: flex;
    justify-content: flex-start;
    background-color: var(--half-third-color);
}

.S-subsettings .S-suport .S-faq .S-all-questions div {
    border-top: 1px solid var(--border-color);
    width: 0;
    transform: translate(0);
    display: none;
    transition: var(--element-out);
}

.S-subsettings .S-suport .S-faq .S-all-questions .S-other-questions.active {
    display: block;
    width: 100%;
    transition: var(--element-in);
}

.S-subsettings .S-suport .S-faq .S-all-questions .S-general-questions.active {
    display: block;
    width: 100%;
    transition: var(--element-in);
}

.S-subsettings .S-suport .S-faq .S-questions {
    position: relative;
    border-bottom: 1px solid var(--border-color);
    padding: 0.5rem;
    padding-left: 3rem;
    font-size: calc(var(--size-font-subtitle) - 1px);
}

.S-subsettings .S-suport .S-faq .S-questions:last-child {
    border-bottom: none;
}

.S-subsettings .S-suport .S-faq .S-answers {
    position: relative;
    padding-left: 2rem;
    height: 5rem;
    transition: calc(var(--element-in) - 0.05s);
    overflow: hidden;
}

.S-subsettings .S-suport .S-faq .S-answers.closed {
    height: 0;
    opacity: 30%;
    transition: calc(var(--element-out) - 0.15s);
}

.S-subsettings .S-suport .S-service-terms {
    font-size: calc(var(--size-font-text) - 2px);
    letter-spacing: 2px;
    position: relative;
    display: flex;
    font-weight: 600;
    transition: var(--element-in);
    margin-bottom: 1rem;
}

.S-subsettings .S-suport .S-service-terms:hover {
    font-size: calc(var(--size-font-text) - 3px);
    transition: calc(var(--element-in) - 0.25s);
}

.S-subsettings .S-suport .S-report-problems .S-article-description {
    font-size: calc(var(--size-font-subtitle) - 1px);
    margin: -0.5rem 0 0 5rem;
}

.S-subsettings .S-suport .S-report-problems .S-report-tags {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0rem 2rem 0rem 2rem;
    height: 9rem;
    overflow: hidden;
    margin: 0.5rem;
}

.S-subsettings .S-suport .S-report-problems .S-tags {
    display: flex;
    position: relative;
    margin: 0 1rem 0 1rem;
    padding: 0rem 1rem 0rem 1rem;
    background-color: var(--half-third-color);
    border: 1px solid var(--border-color);
    border-radius: 14px;
    font-size: calc(var(--size-font-text) + 1px);
    transition: calc(var(--element-out) - 0.2s);
    cursor: pointer;
}

.S-subsettings .S-suport .S-report-problems .S-more-tags {
    display: flex;
    position: relative;
    width: 0;
    height: 2rem;
    border-radius: 100%;
    font-size: calc(var(--size-font-text) + 10px);
}

.S-subsettings .S-suport .S-report-problems .S-tags:hover {
    transition: calc(var(--element-in) - 0.1s);
    font-size: calc(var(--size-font-text) + 4px);
    padding: 0.05rem 1.05rem 0.05rem 1.05rem;
}

.S-subsettings .S-suport .S-report-problems .S-more-tags:hover {
    font-size: calc(var(--size-font-text) + 20px);
    padding: 1rem 1.05rem 1rem 1.05rem;
}

.S-subsettings .S-suport .S-report-problems .S-report-area {
    position: relative;
    flex-direction: column;
    gap: 0.7rem;
    align-items: flex-start;
    height: 13rem;
    margin: 1.5rem;
    padding: 1.5rem;
    padding-top: 1rem;
    background-color: var(--fourth-color);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    border-bottom-right-radius: 8px;
}

.S-subsettings .S-suport .S-report-problems .S-report-area .S-report-clear {
    display: flex;
    position: absolute;
    right: 2.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0.65rem;
    font-size: calc(var(--size-font-icons) + 2px);
    background-color: var(--second-color);
    cursor: pointer;
}

.S-subsettings .S-suport .S-report-problems .S-report-area .S-report-input {
    border: none;
    outline: none;
    border-left: 1px solid var(--border-color);
    width: 100%;
    padding: 0 2rem 0 2rem;
    font-size: var(--size-font-subtitle);
    background: transparent;
}

.S-subsettings .S-suport .S-report-problems .S-report-area .S-report-input::-webkit-scrollbar {
    display: none;
}

.S-subsettings .S-suport .S-report-problems .S-report-area textarea.S-report-input {
    height: 6rem;
    width: 95%;
}

.S-subsettings .S-suport .S-report-problems .S-report-area .S-report-submit i {
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    width: 2.8rem;
    height: 2.8rem;
    color: var(--white-to-black-color);
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    font-size: calc(var(--size-font-icons) + 5px);
    background-color: var(--second-color);
    cursor: pointer;
}

.S-subsettings .S-suport .S-report-problems .S-report-area .S-report-submit i:hover {
    color: var(--org-color1);
    box-shadow: 0 0 4px 1px var(--org-color1);
}

.S-subsettings .S-suport .S-report-problems .S-report-area .S-report-media {
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 6rem;
    width: 2rem;
    height: 2rem;
    color: var(--white-to-black-color);
    border-radius: 0.65rem;
    border: 1px solid var(--border-color);
    font-size: calc(var(--size-font-icons) + 5px);
    background-color: var(--second-color);
    cursor: pointer;
}

.S-subsettings .S-suport .S-report-problems .S-report-area .S-report-media:hover {
    color: var(--org-color1);
    box-shadow: 0 0 3px 1px var(--org-color1);
}

.S-subsettings .S-suport .S-report-problems .S-report-area .S-media-placeholder {
    position: absolute;
    opacity: 75%;
    bottom: 1rem;
    right: 9rem;
    pointer-events: none;
}

.S-subsettings .S-suport .S-report-problems .S-report-area .S-report-placeholder {
    position: absolute;
    opacity: 75%;
    pointer-events: none;
}

.S-subsettings .S-suport .S-feedback .S-article-description {
    font-size: calc(var(--size-font-subtitle) - 1px);
    margin: -0.5rem 0 0 5rem;
}

.S-subsettings .S-suport .S-feedback .S-feedback-bonfire {
    color: var(--org-color2);
    font-weight: 600;
    letter-spacing: 3px;
}

.S-subsettings .S-suport .S-feedback .S-feedback-area {
    position: relative;
    flex-direction: column;
    gap: 0.7rem;
    align-items: flex-start;
    height: 11rem;
    margin: 1.5rem;
    padding: 1.5rem;
    padding-top: 1rem;
    background-color: var(--fourth-color);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    border-bottom-right-radius: 8px;
}

.S-subsettings .S-suport .S-feedback .S-feedback-area .S-feedback-clear {
    display: flex;
    position: absolute;
    right: 2.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0.65rem;
    font-size: calc(var(--size-font-icons) + 2px);
    background-color: var(--second-color);
    cursor: pointer;
}

.S-subsettings .S-suport .S-feedback .S-feedback-area .S-feedback-input {
    border: none;
    outline: none;
    border-left: 1px solid var(--border-color);
    width: 100%;
    padding: 0 2rem 0 2rem;
    font-size: var(--size-font-subtitle);
    background: transparent;
}

.S-subsettings .S-suport .S-feedback .S-feedback-area .S-feedback-input::-webkit-scrollbar {
    display: none;
}

.S-subsettings .S-suport .S-feedback .S-feedback-area textarea.S-feedback-input {
    height: 6rem;
    width: 95%;
}

.S-subsettings .S-suport .S-feedback .S-feedback-area .S-feedback-submit i {
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    width: 2.8rem;
    height: 2.8rem;
    color: var(--white-to-black-color);
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    font-size: calc(var(--size-font-icons) + 5px);
    background-color: var(--second-color);
    cursor: pointer;
}

.S-subsettings .S-suport .S-feedback .S-feedback-area .S-feedback-submit i:hover {
    color: var(--org-color1);
    box-shadow: 0 0 4px 1px var(--org-color1);
}

.S-subsettings .S-about-us .S-bonfire-summary {
    padding: 0rem 2.5rem 0.5rem 3.2rem;
    text-align: justify;
    font-size: var(--size-font-text);
}

.S-subsettings .S-about-us .S-bonfire-summary strong {
    color: var(--org-color2);
    font-size: calc(var(--size-font-text) + 15px);
}

.S-subsettings .S-about-us .S-download-bonfire {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.S-subsettings .S-about-us .S-download-bonfire .S-google-play-download {
    width: 200px;
    height: 55px;
    transition: calc(var(--element-out) - 0.3s);
    cursor: pointer;
}

.S-subsettings .S-about-us .S-download-bonfire .S-google-play-download:hover {
    width: 210px;
    height: 60px;
    transition: calc(var(--element-in) - 0.3s);
    transform: translate(-2px);
}

.S-subsettings .S-about-us .S-download-bonfire .S-apple-store-download {
    width: 210px;
    height: 62px;
    transition: calc(var(--element-out) - 0.3s);
    cursor: pointer;
}

.S-subsettings .S-about-us .S-download-bonfire .S-apple-store-download:hover {
    width: 223px;
    height: 70px;
    transition: calc(var(--element-in) - 0.3s);
    transform: translate(5px);
}


/*====================================================================================================
========================================== LOG-OUT MODAL =============================================
====================================================================================================*/


.M-log-out-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-focus-color);
    z-index: 9999;
}

.M-log-out-modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--body-color);
    padding: 25px;
    padding-top: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid var(--org-color-darker);
    border-top: 3px solid var(--org-color2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 8rem;
    box-shadow: 0px 3px 30px 1px rgb(22, 22, 22);
}

.M-log-out-modal-container h4 {
    color: var(--text-color);
    letter-spacing: 1px;
}

.M-log-out-modal-buttons {
    display: flex;
    padding: 2rem 0 0 6rem;
}

.M-log-out-modal-buttons button {
    height: 1.6rem;
    cursor: pointer;
    font-size: calc(var(--size-font-subtitle) - 5px);
    font-weight: 700;
    transition: 0.3s;
    letter-spacing: 2px;
}

.M-log-out-modal-buttons button.M-cancel-log-out {
    border: none;
    background: none;
    color: var(--org-color2);
    width: 7rem;
}

.M-log-out-modal-buttons button.M-confirm-log-out {
    color: var(--white-to-black-color);
    background-color: var(--org-color-darker);
    border: 1px solid var(--org-color1);
    border-radius: 5px;
    width: 3.5rem;
    box-shadow: 2px 1px 4px 0 rgb(22, 22, 22);
}

.M-log-out-modal-container .M-close-log-out-icon {
    position: absolute;
    top: -0.7rem;
    right: 0.5rem;
    color: var(--white-to-black-color);
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--org-color-darker);
    border: 1px solid var(--org-color1);
    border-radius: 7px;
    display: flex;
    font-size: calc(var(--size-font-icons) + 8px);
    padding: 2px 1px 0px 0px;
    box-shadow: 0px 1px 5px 0 rgb(22, 22, 22);
}