body {
    background-color: var(--fifth-color);
    overflow: auto;
}

main {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-left: 250px;
    padding-top: 50px;
    z-index: -1;
}

.All-icon {
    cursor: pointer;
    font-size: var(--size-font-icons);
}

.All-icon:hover {
    color: var(--org-color2);
    transition: 0.2s;
}

.icon-hover {
    position: absolute;
    display: flex;
    min-width: 60px;
    width: auto;
    min-height: 23px;
    font-size: var(--size-font-text);
    font-weight: 600;
    background-color: var(--first-color);
    border-radius: 10px;
    opacity: 0;
}

:hover .icon-hover {
    transition-delay: 0.6s;
    transition-duration: 0.22s;
}


/*====================================================================================================
============================================= MENU HEADER ============================================
====================================================================================================*/


.M-menu-header {
    position: fixed;
    width: 100%;
    height: 3.2rem;
    background-color: var(--menu-color);
    border: 1px solid var(--border-color);
    display: flex;
}

.M-menu-header section {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5rem;
    line-height: 3.125rem;
}


.M-menu-header .M-header-left a {
    width: 100%;
    height: 100%;
}

.M-menu-header .M-header-left a img {
    position: absolute;
    width: 6.5rem;
    left: -0.5rem;
    transition: 0.15s;
    top: -0.4rem;
}

.M-menu-header .M-header-left img:hover {
    position: absolute;
    width: 7rem;
    left: -0.75rem;
}

.M-menu-header .M-header-center .M-header-search {
    background-color: var(--fourth-color);
    border: 1px solid var(--border-color);
    border-radius: 5rem;
    min-width: 18.125rem;
    width: 45%;
    height: 55%;
    display: flex;
    justify-content: space-around;
    padding: 0 0.3125rem 0 0.3125rem;
}

.M-menu-header .M-header-center .M-header-search input {
    outline: none;
    border: none;
    width: 12.5rem;
    background: none;
}

/*====================================================================================================
============================================ MENU ASIDE ==============================================
====================================================================================================*/

.M-menu-aside {
    position: fixed;
    top: 3.15rem;
    left: 0;
    height: 100vh;
    width: 17rem;
    background-color: var(--menu-color);
    border: 1px solid var(--border-color);
    border-top: none;
    transition: width var(--element-in);
    padding-left: 10px;
}

.M-menu-aside.close {
    width: 5rem;
    transition: width var(--element-out);
}

.M-menu-aside .All-icon {
    padding-left: 0.9rem;
    transition: var(--element-in);
}

.M-menu-aside section {
    padding: 1rem 0 1.2rem 0;
    position: relative;
    height: auto;
}

.M-menu-aside section::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 87%;
    border-bottom: 1px solid var(--border-color);
    margin-left: 0.45rem;
    transition: var(--element-in);
}

.M-menu-aside.close section::before {
    width: 60%;
    transition: var(--element-out);
}

.M-menu-aside section:last-child::before {
    display: none;
}

.M-menu-aside.section-highlight section::before {
    border-bottom-color: var(--org-color-darker);
    box-shadow: 0 0 3px 0 var(--org-color-darker);
}

.M-menu-aside .M-aside-gradient {
    position: absolute;
    width: 1px;
    left: 0;
    height: 100vh;
    bottom: 0;
    background-color: var(--org-color);
    box-shadow: 0 0 5px 0 var(--org-color-lighter);
    z-index: +1;
    transition: var(--element-in);
    transform: translateY(-50px);
}

.M-menu-aside.close .M-aside-gradient {
    height: 0;
    transition: var(--element-out);
}

.M-menu-aside .M-aside-top {
    position: relative;
    height: 5rem;
    width: 100%;
}

.M-menu-aside .M-aside-center {
    position: relative;
    width: 100%;
}

.M-menu-aside .M-aside-center ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.M-menu-aside .M-aside-center ul li {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.M-menu-aside .M-aside-center ul li.active {
    background-color: var(--fifth-color);
    width: calc(100% + 1px);
    border: 1px solid var(--border-color);
    border-right: none;
    padding-left: 2.5rem;
    transition: var(--element-in);
    font-weight: 600;
}

.M-menu-aside.close .M-aside-center ul li.active {
    padding-left: 0;
}

.M-menu-aside .M-aside-center ul li a {
    display: flex;
    justify-content: flex-start;
}

.M-menu-aside .M-aside-center ul li a .All-icon {
    min-width: 2.8rem;
    height: 44px;
    line-height: 44px;
}

.M-menu-aside .M-aside-center ul li:hover a .All-icon {
    color: var(--org-color);
    font-size: calc(var(--size-font-icons) + 0.3rem);
}

.M-menu-aside .M-aside-center ul li a .M-title {
    height: 44px;
    line-height: 44px;
    transition: var(--element-in);
    font-size: var(--size-font-subtitle);
}

.M-menu-aside .M-aside-center ul li:hover a .M-title {
    color: var(--org-color);
    font-size: calc(var(--size-font-subtitle) + 0.3rem);
}

.M-menu-aside.close .M-aside-center ul li a .M-title {
    opacity: 0;
    transform: translateX(-50px);
}

.M-menu-aside .M-aside-center ul li.active a .M-title {
    font-size: calc(var(--size-font-subtitle) + 2px);
    color: var(--org-color);
}

.M-menu-aside .M-aside-footer .menu-buttom i.All-icon {
    position: absolute;
    font-size: calc(var(--size-font-icons) + 0.8rem);
    transition: var(--element-in);
    margin-left: -0.4rem
}

.M-menu-aside .M-aside-center ul li.active a i.All-icon {
    font-size: calc(var(--size-font-icons) + 0.3rem);
    color: var(--org-color);
}

.M-menu-aside.close .M-aside-center ul li.active a i.All-icon {
    font-size: var(--size-font-icons);
}

.M-menu-aside .M-aside-center ul li.M-more-pages .M-more-arrow {
    position: absolute;
    right: 1rem;
}

.M-menu-aside.close .M-aside-center ul li.M-more-pages .M-more-arrow {
    opacity: 0;
}

.M-menu-aside .M-aside-center ul li.M-more-pages.active .M-more-arrow {
    transform: rotate(90deg);
}

.M-menu-aside .M-aside-center ul li.M-more-pages ul li,
.M-menu-aside.close .M-aside-center ul li.M-more-pages.active ul li {
    display: none;
}

.M-menu-aside .M-aside-center ul li.M-more-pages.active ul li {
    margin-left: 1.75rem;
    display: block;
}

.M-menu-aside .M-aside-footer .menu-buttom i.All-icon.close {
    opacity: 1;
    color: var(--org-color);
    font-size: calc(var(--size-font-icons) + 1rem);
    padding: 0 0 0 0.79rem;
}

.M-menu-aside.close .M-aside-footer .menu-buttom i.close {
    opacity: 0;
}

.M-menu-aside.close .M-aside-footer .menu-buttom i.open {
    opacity: 1;
}

.M-menu-aside .M-aside-footer .menu-buttom i.open {
    opacity: 0;
}

/*====================================================================================================
======================================== INDEX: I-QUICK-MESSAGES ==========================================
====================================================================================================*/

main .Q-quick-messages {
    position: fixed;
    right: 0;
    bottom: -1px;
    width: 30%;
    height: 60%;
    background-color: var(--menu-color);
    border: 1px solid var(--org-color-darker);
    border-bottom: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: all 0.5s;
    z-index: 11;
}

main .Q-quick-messages.close {
    bottom: -60vh;
    border-color: var(--border-color);
}

main .Q-quick-messages .Q-message-content {
    width: 100%;
    height: 100%;
    display: flex;
}

main .Q-quick-messages.close .Q-message-content {
    overflow: hidden;
}

main .Q-quick-messages .Q-message-pusher {
    position: absolute;
    top: -2.3rem;
    right: 50%;
    transform: translateX(50%);
    width: 15rem;
    max-width: 15rem;
    height: 2.3rem;
    line-height: 2.5rem;
    text-align: center;
    background: var(--menu-color);
    border: 1px solid var(--org-color-darker);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom: none;
    cursor: pointer;
    font-size: calc(var(--size-font-icons) + 10px);
    transition: all 0.5s;
}

main .Q-quick-messages.close .Q-message-pusher {
    border-color: var(--border-color);
}

main .Q-quick-messages.close .Q-message-pusher i {
    color: var(--text-color);
    transition: all 0.3s;
}

main .Q-quick-messages .Q-message-pusher i {
    color: var(--org-color);
    transition: all 0.3s;
}

main .Q-quick-messages p {
    font-size: larger;
    letter-spacing: 5px;
    transition: 0.3s;
}

main .Q-quick-messages:hover p,
main .Q-quick-messages:hover .Q-message-pusher,
main .Q-quick-messages:hover {
    color: var(--org-color);
    border-color: var(--org-color);
}

/*====================================================================================================
======================================== CONFIG: S-SETTINGS ==========================================
====================================================================================================*/

main .S-settings {
    position: relative;
    width: 40%;
    min-width: 28rem;
    height: 100%;
    border-right: 1px solid var(--border-color);
    background-color: var(--second-color);
    overflow-y: auto;
}

main .S-settings .S-top {
    position: sticky;
    top: 0;
    min-height: 4.8rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem 2rem 1.5rem 3rem;
    background-color: var(--second-color);
    z-index: 2;
}

main .S-settings .S-div-search {
    position: sticky;
    top: 5rem;
    height: 7rem;
    display: flex;
    overflow: hidden;
    transition: all 0.5s;
    background-color: var(--second-color);
    z-index: 1;
}

main .S-settings .S-center {
    position: relative;
    margin-top: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
}

main .S-settings .S-top::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1.4rem;
    min-width: 93%;
    border-bottom: 1px solid var(--border-color);
}

main .S-settings .S-top .S-tittle {
    font-size: var(--size-font-title);
    font-weight: bolder;
    letter-spacing: 3px;
}

main .S-settings .S-top .S-others-functions {
    position: absolute;
    right: 1.2rem;
    display: grid;
    height: auto;
    width: 20px;
    gap: 30px;
}

main .S-settings .S-top .S-others-functions i {
    display: flex;
    background-color: var(--first-color);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    transition: 0.2s;
    font-size: var(--size-font-icons);
    border-right: 2px dashed transparent;
}

main .S-settings .S-top .S-others-functions i:hover {
    border-color: var(--org-color2);
}

main .S-settings .S-top .S-others-functions a {
    width: 100%;
    height: 5px;
}

main .S-settings .S-top .S-others-functions .S-logout-icon .icon-hover {
    position: absolute;
    left: -80px;
}

main .S-settings .S-top .S-others-functions i:hover .icon-hover {
    opacity: 0.8;
}

main .S-settings .S-top .S-others-functions .S-search-icon .icon-hover {
    position: absolute;
    left: -110px;
    width: 90px;
}

main .S-settings .S-div-search.close {
    transform: translateY(2px);
    height: 0;
    transition: 0.5s;
    position: static;
    overflow: hidden;
}

main .S-settings .S-div-search::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    transition: 0.5s;
}

main .S-settings .S-div-search.close::before {
    width: 0px;
    left: 50%;
    transition: 0.7s;
}

main .S-settings .S-div-search .S-search-buttom {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    height: 1.9rem;
    width: 22rem;
    background-color: var(--first-color);
    border-radius: 5rem;
    border: solid 1px var(--border-color);
    padding: 0 5px 0 5px;
}

main .S-settings .S-div-search input {
    width: 80%;
    outline: none;
    border-style: none;
    background-color: transparent;
}

main .S-settings::-webkit-scrollbar {
    display: none;
}

main .S-settings .S-center ul .S-buttom {
    width: 100%;
    height: 100%;
}

main .S-settings .S-center ul .S-buttom {
    line-height: 3rem;
    letter-spacing: 1px;
    padding-left: 3rem;
    font-size: var(--size-font-subtitle);
}

main .S-settings .S-center ul .S-buttom::after {
    content: '';
    position: absolute;
    width: 92%;
    left: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    transition: 0.5s;
}

main .S-settings .S-center ul .S-buttom.active {
    color: var(--org-color);
    background-color: var(--fourth-color);
    border-left: 1px solid var(--org-color);
    border-right: 1px solid var(--org-color);
}

main .S-settings .S-center ul .S-buttom.active::after {
    width: 100%;
    left: 0;
    transition: 0.5s;
}

main .S-settings .S-center ul .S-buttom:hover {
    background-color: var(--fourth-color);
}

main .S-settings .S-center ul .S-buttom .S-subbuttom .S-open-list-icon {
    position: absolute;
    right: 10px;
    margin-top: -33px;
    rotate: 0;
    transition: 0.4s;
}

main .S-settings .S-center ul .S-buttom.active .S-subbuttom .S-open-list-icon {
    rotate: -90deg;
    color: var(--org-color2);
    transition: 0.3s;
}

main .S-settings .S-center ul .S-buttom.active p:hover {
    color: var(--org-color);
    transition: 0.1s;
    cursor: pointer;
}

main .S-settings .S-center ul .S-buttom .S-subbuttom {
    line-height: 1.5rem;
    padding-left: 2.5rem;
    font-size: var(--size-font-text);
    letter-spacing: 2px;
    overflow: hidden;
    max-height: 0;
    transition: 0.5s;
}

main .S-settings .S-center ul .S-buttom .S-subbuttom li {
    opacity: 0;
    transition: 1.5s;
}

main .S-settings .S-center ul .S-buttom.active .S-subbuttom li {
    opacity: 1;
    transition: 0.4s;
}

main .S-settings .S-center ul .S-buttom.active .S-subbuttom {
    max-height: 500px;
    opacity: 1;
}


/*====================================================================================================
======================================= CONFIG: S-SUBSETTINGS ========================================
====================================================================================================*/


main .S-subsettings {
    position: relative;
    display: block;
    height: 100%;
    width: 60%;
    min-width: 37.5rem;
    background-color: var(--fourth-color);
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
}

main .S-subsettings::-webkit-scrollbar {
    display: none;
}

main .S-subsettings .S-tier #S-section-divisions {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.7rem;
    border-bottom: 1px solid var(--border-color);
}

main .S-subsettings .S-tier #S-section-divisions:last-child {
    border-bottom: none;
}

main .S-subsettings .S-tier #S-section-divisions:last-child {
    border-bottom: none;
}

main .S-subsettings .S-tier #S-section-divisions article {
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--border-color);
    line-height: 2rem;
}

main .S-subsettings .S-tier {
    display: none;
}

main .S-subsettings .S-tier.active {
    opacity: 1;
    display: block;
    padding-top: 2rem;
}

main .S-subsettings .S-tier .S-back-icon {
    position: absolute;
    margin: 10px 0 0 10px;
    padding: 1px 2px 0 0;
    font-size: calc(var(--size-font-icons) + 1rem);
    background-color: var(--fourth-color);
    border: 1px solid var(--border-color);
    border-radius: 11px;
    cursor: pointer;
    z-index: 1;
    transition: 0.2s;
}

main .S-subsettings .S-tier .S-back-icon:hover {
    color: var(--org-color2);
    border-color: var(--org-color2);
    transition: 0.2s;
    border-radius: 13px;
}

main .S-subsettings .S-tier article .S-article-title {
    font-size: var(--size-font-subtitle);
    padding: 0 0 0.5rem 1rem;
    letter-spacing: 3px;
    transition: color 0.4s;
}

main .S-subsettings .S-tier article:hover .S-article-title {
    color: var(--org-color);
    transition: color 0.3s;
}

main .S-subsettings .S-tier .S-article-subtitle {
    padding: 0 0 0 2rem;
    font-size: var(--size-font-text);
}

main .S-subsettings .S-account-profile {
    height: 100%;
    width: 100%;
}

main .S-subsettings .S-account-profile .S-profile {
    position: relative;
    width: 100%;
}

main .S-subsettings .S-account-profile .S-profile .S-cover {
    position: relative;
    width: 100%;
    height: 170px;
}

main .S-subsettings .S-account-profile .S-profile .S-cover img {
    width: 100%;
    height: 100%;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content {
    position: relative;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 65px;
    background-color: var(--fourth-color);
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images {
    position: absolute;
    display: flex;
    width: 15%;
    min-width: 6.25rem;
    height: 155%;
    min-height: 4.7rem;
    max-height: 12rem;
    max-width: 6.25rem;
    bottom: 0.3rem;
    left: 1rem;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images img {
    cursor: pointer;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images .perfil-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images::before {
    content: '';
    position: absolute;
    width: 112%;
    height: 112%;
    background-color: var(--fourth-color);
    border-radius: 45px;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images .org-img {
    position: absolute;
    width: 31%;
    height: 31%;
    bottom: 0.05rem;
    right: -0.1rem;
    border-radius: 100%;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-user-informations {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 8.25rem;
    height: 100%;
    gap: 0.5rem;
    width: auto;
    font-size: var(--size-font-text);
    line-height: 1rem;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-user-informations .nick {
    font-size: 1.7rem;
    font-weight: bolder;
    color: var(--org-color);
    letter-spacing: 2px;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-user-informations .name {
    padding-left: 0.2rem;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-edit-profile-buttom a {
    position: absolute;
    display: flex;
    right: 1rem;
    top: 1rem;
    height: 1.7rem;
    width: 6rem;
    border: 1px solid var(--border-color);
    border-radius: 10rem;
    cursor: pointer;
    color: lightgray;
    transition: 0.3s;
    font-weight: lighter;
    border-color: var(--border-color);
    background-color: var(--org-color-darker);
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-edit-profile-buttom a:hover {
    width: 6.2rem;
    color: var(--org-color);
    font-weight: bold;
    letter-spacing: 0.5px;
    border-color: var(--org-color);
}

main .S-subsettings .S-account-profile .S-profile .S-profile-numbers {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 3.2rem;
    font-size: var(--size-font-text);
}

main .S-subsettings .S-account-profile .S-profile .S-profile-numbers span {
    display: flex;
    gap: 0.5rem;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-numbers b {
    color: var(--org-color);
    font-size: var(--size-font-subtitle);
    cursor: pointer;
    transition: 0.5s;
    font-weight: lighter;
}

main .S-subsettings .S-account-profile .S-bio {
    position: relative;
    width: 100%;
    height: 6.25rem;
    padding-left: 0.8rem;
    margin-left: 1rem;
    border-left: 1px solid var(--border-color);
    font-size: var(--size-font-subtitle);
}

main .S-subsettings .S-account-profile .S-bio textarea {
    position: relative;
    width: 100%;
    height: 75%;
    outline: none;
    border-style: none;
    background-color: transparent;
}

main .S-subsettings .S-appearence .S-theme {
    position: relative;
    width: 100%;
}

main .S-subsettings .S-appearence .S-theme .S-toggle-mode {
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

main .S-subsettings .S-appearence .S-theme .S-toggle-mode .S-checkbox {
    opacity: 0;
    position: absolute;
}

main .S-subsettings .S-appearence .S-theme .S-toggle-mode .S-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    height: 1.1rem;
    width: 2.25rem;
    border-radius: 10rem;
    transform: scale(1.5);
    background-color: var(--fifth-color);
    font-size: 0.63rem;
    letter-spacing: 0.5rem;
    cursor: pointer;
}

main .S-subsettings .S-appearence .S-theme .S-toggle-mode .S-label .S-sun {
    color: #ffd900;
}

main .S-subsettings .S-appearence .S-theme .S-toggle-mode .S-label .S-moon {
    color: #2d2dff;
}

main .S-subsettings .S-appearence .S-theme .S-toggle-mode .S-ball {
    background-color: var(--black-to-white-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 80%;
    width: 40.2%;
    transform: translateX(0);
    transition: transform 0.2s linear;
}

main .S-subsettings .S-appearence .S-theme .S-toggle-mode .S-checkbox:checked+.S-label .S-ball {
    transform: translateX(1.1rem);
}

.S-toggle-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.S-toggle-color .swiper-pagination-bullet {
    background-color: var(--org-color-lighter);
}

.S-toggle-color .swiper-pagination-bullet-active {
    background-color: var(--org-color-darker);
    border: 1px solid var(--org-color2);
}

.S-toggle-color .S-card-slider {
    position: relative;
    width: 600px;
    height: 200px;
    padding: 0 20px 0 20px;
}

.S-toggle-color .S-card-slider .S-gallery {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.S-toggle-color .S-card-slider .S-gallery .S-card {
    height: 40%;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.S-toggle-color .S-card-slider .S-gallery .S-card:hover {
    box-shadow: 0 0 5px 0 var(--org-color);
    border-color: var(--org-color2);
    transition: 0.3s;
}

.S-toggle-color .S-card-slider .S-gallery .S-card.current {
    box-shadow: 0 0 5px 0 var(--org-color);
    border-color: var(--org-color2);
}

.S-toggle-color .S-card-slider .S-gallery .S-card img {
    width: 58%;
    height: 70%;
    object-fit: contain;
}

.S-toggle-color .S-card-slider i {
    font-size: 1.3rem;
    cursor: pointer;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: var(--fourth-color);
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 #00000081;
    transition: transform 0.1s linear;
    border: 1px solid var(--border-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.S-toggle-color .S-card-slider i:hover {
    transition: 0.2s;
    color: var(--org-color);
    border-color: var(--org-color2);
    box-shadow: 0 0 2px 1px var(--org-color2);
}

.S-toggle-color .S-card-slider i.fa-angle-left {
    left: 5px;
    padding-right: 2px;
}

.S-toggle-color .S-card-slider i.fa-angle-right {
    right: 5px;
    padding-left: 2px;
}

main .S-subsettings .S-appearence .S-font-style div {
    display: flex;
    gap: 50px;
}

main .S-subsettings .S-appearence .S-font-style .S-all-font-size .All-icon {
    font-size: calc(var(--size-font-icons) + 0.3rem);
    transition: 0.15s;
}

main .S-subsettings .S-appearence .S-font-style input[type=range] {
    appearance: none;
    background-color: var(--fifth-color);
    height: 0.45rem;
    width: 20rem;
    border-radius: 100rem;
    cursor: pointer;
}

main .S-subsettings .S-appearence .S-font-style input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: var(--org-color-darker);
    border: 2px dotted var(--org-color);
    transition: 0.2s;
    opacity: 0.9;
}

main .S-subsettings .S-appearence .S-font-style input[type=range]:hover::-webkit-slider-thumb {
    background-color: var(--org-color);
    box-shadow: 0 0 3px 0px var(--org-color-lighter);
}

main .S-subsettings .S-appearence .S-font-style div .S-font-size-value {
    width: 34px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    color: var(--org-color2);
    font-weight: 600;
    font-size: calc(var(--size-font-icons) -5px);
}

main .S-subsettings .S-appearence .S-font-style i.All-icon.S-font-config {
    float: right;
    position: relative;
    margin: 0 15px 15px 0;
    font-size: calc(var(--size-font-icons) + 0.1rem);
    font-weight: bolder;
    width: 35px;
    height: 35px;
    background-color: var(--first-color);
    border-radius: 12px;
    display: flex;
}

main .S-subsettings .S-appearence .S-font-style .S-font-advanced-config {
    height: 20.5rem;
    display: block;
    overflow: hidden;
    transition: height 0.5s;
    clear: both;
}

main .S-subsettings .S-appearence .S-font-style .S-font-advanced-config.close {
    height: 0rem;
}

main .S-subsettings .S-appearence article:hover .S-font-advanced-config .S-article-title {
    color: var(--text-color);
}