@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    transition: 1s color border-color background-color;
}

:root {
    /* ============== CORES ============== */
    --black-to-white-color: #E2E2E2;
    /*Essa cor deve ser preta no modo claro e branca no modo escuro*/
    --white-to-black-color: #131313;
    /*Essa cor deve ser branca no modo claro e preta no modo escuro*/

    --text-color: #9E9C9C;
    /*Cor dos Textos*/
    --border-color: #585757;
    /*Cor das Bordas*/

    --first-color: #383A3B;
    --second-color: #27282A;
    /*Cor de primeiro foco*/
    --third-color: #242526;
    /*Cor dos Menus*/
    --fourth-color: #232325;
    /*Cor de sergundo foco*/
    --fifth-color: #18191A;
    /*Cor do body*/

    /* ========= CORES DAS ORGS ========= */
    --org-color: #00e226;
    --org-color2: #00e226;
    --org-color3: #00e226;
    --org-color-darker: #008516;
    --org-color-lighter: #61ff7c;
    --org-color-low-opacity: #00ff2a70;
    /*Cor de cada organização, porém com opacidade reduzida*/

    /* ============== FONTES ============== */

    --family-font-tittle: 'Montserrat', 'sans-serif';

    --size-font-tittle: 25px;
    --size-font-subtittle: 15px;
    --size-font-text: 13px;
    --size-font-detail: 11px;
    --size-font-icons: 18px;
}


/*====================================================================================================
=============================== DEFINIÇÃO / SUBSTITUIÇÃO DAS VÁRIAVEIS ===============================
====================================================================================================*/

.dark-mode {
    /* ============== CORES ============== */

    --black-to-white-color: #E2E2E2;
    --white-to-black-color: #131313;

    --text-color: #9E9C9C;
    --border-color: #585757;

    --first-color: #383A3B;
    --second-color: #27282A;
    --third-color: #242526;
    --fourth-color: #232325;
    --fifth-color: #18191A;

    /* ============== FONTES ============== */

    --family-font-tittle: ;
    --size-font-tittle: ;

    --text-font-family: ;
    --size-font-text: ;

    --subtext-font-family: ;
    --size-font-text: ;
}

.light-mode {
    --black-to-white-color: #000000;
    --white-to-black-color: #E2E2E2;

    --text-color: #252525;
    --border-color: #B1B1B1;

    --first-color: #f3f3f3;
    --third-color: #ffffff;
    --second-color: #FFFFFF;
    --fourth-color: #F9FAFF;
    --fifth-color: #EBEBF5;
}


.fluxo-color {
    --org-color: #C300FF;
    --org-color2: #C91085;
    --org-color3: #C300FF;
    --org-color-darker: #680088;
    --org-color-lighter: #D650FF;
    --org-color-low-opacity-color: #C300FF70;
}

.kru-color {
    --org-color: #FF00B3;
    --org-color2: #FF00B3;
    --org-color3: #FF00B3;
    --org-color-darker: #910065;
    --org-color-lighter: #ff5dce;
    --org-color-low-opacity-color: #FF00B370;
}

.leviatan-color {
    --org-color: #4687BD;
    --org-color2: #4687BD;
    --org-color3: #4687BD;
    --org-color-darker: #20425C;
    --org-color-lighter: #6DBAFA;
    --org-color-low-opacity-color: #4687BD70;
}

.liberty-color {
    --org-color: #00FFFF;
    --org-color2: #00FFFF;
    --org-color3: #00FFFF;
    --org-color-darker: #006969;
    --org-color-lighter: #7DFFFF;
    --org-color-low-opacity-color: #00FFFF70;
}

.los-color {
    --org-color: #FF4500;
    --org-color2: #FF4500;
    --org-color3: #FF4500;
    --org-color-darker: #AC2E00;
    --org-color-lighter: #FF6027;
    --org-color-low-opacity-color: #FF450070;
}

.loud-color {
    --org-color: #00EB00;
    --org-color2: #00EB00;
    --org-color3: #00EB00;
    --org-color-darker: #007200;
    --org-color-lighter: #2DFF2D;
    --org-color-low-opacity-color: #00FF2A70;
}

.magic-squad-color {
    --org-color: #0EB1A9;
    --org-color2: #0EB1A9;
    --org-color3: #0EB1A9;
    --org-color-darker: #006969;
    --org-color-lighter: #55b9b4;
    --org-color-low-opacity-color: #0EB1A970;
}

.pain-color {
    --org-color: #FF0000;
    --org-color2: #FF0000;
    --org-color3: #FF0000;
    --org-color-darker: #810000;
    --org-color-lighter: #ff2f2f;
    --org-color-low-opacity-color: #FF000070;
}

.red-canids-color {
    --org-color: #DB0630;
    --org-color2: #FF1947;
    --org-color3: #B32844;
    --org-color-darker: #8A031E;
    --org-color-lighter: #DB2D50;
    --org-color-low-opacity-color: #DB063070;
}

.sentinels-color {
    --org-color: #E70045;
    --org-color2: #E70045;
    --org-color3: #E70045;
    --org-color-darker: #770024;
    --org-color-lighter: #a73759;
    --org-color-low-opacity-color: #E7004570;
}

.team-liquid-color {
    --org-color: #002ec5;
    --org-color2: #DA9311;
    --org-color3: #002ec5;
    --org-color-darker: #00165e;
    --org-color-lighter: #294ec9;
    --org-color-low-opacity-color: #002ec570;
}

.vivo-keyd-color {
    --org-color: #7A11C5;
    --org-color2: #7A11C5;
    --org-color3: #7A11C5;
    --org-color-darker: #310053;
    --org-color-lighter: #9a42d8;
    --org-color-low-opacity-color: #7A11C570;
}

body::selection {
    color: var(--black-to-white-color);
    background-color: var(--org-color-low-opacity);
}

body {
    background-color: var(--fifth-color);
    overflow: auto;
}

main {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-left: 250px;
    padding-top: 50px;
    z-index: -1;
}

.M-icon {
    cursor: pointer;
}

.M-icon:hover {
    color: var(--org-color2);
    transition: 0.2s;
}

.icon-hover {
    position: absolute;
    display: flex;
    min-width: 60px;
    width: auto;
    min-height: 23px;
    font-size: var(--size-font-text);
    font-weight: 600;
    background-color: var(--first-color);
    border-radius: 10px;
    opacity: 0;
}

:hover .icon-hover {
    transition-delay: 0.6s;
    transition-duration: 0.22s;
}


/*====================================================================================================
============================================= MENU HEADER ============================================
====================================================================================================*/


.M-menu-header {
    position: fixed;
    width: 100%;
    height: 3.2rem;
    background-color: var(--third-color);
    border: 1px solid var(--border-color);
    display: flex;
}

.M-menu-header section {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5rem;
    line-height: 3.125rem;
}

.M-menu-header .M-header-left img {
    position: absolute;
    width: 2.2rem;
    left: 1.17rem;
}

.M-menu-header .M-header-center .M-header-search {
    background-color: var(--fourth-color);
    border: 1px solid var(--border-color);
    border-radius: 5rem;
    min-width: 18.125rem;
    width: 45%;
    height: 55%;
    display: flex;
    justify-content: space-around;
    padding: 0 0.3125rem 0 0.3125rem;
}

.M-menu-header .M-header-center .M-header-search input {
    outline: none;
    border: none;
    width: 12.5rem;
    background: none;
    color: var(--org-color2);
}

.M-menu-header .M-header-right .config-icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0.9rem;
    font-size: 1.5rem;
    height: 100%;
}

.M-menu-header .M-header-right .config-icon .icon-hover {
    width: 7.2rem;
    left: -7.5rem;
}

.M-menu-header .M-header-right .config-icon:hover .icon-hover {
    opacity: 0.8;
}


/*====================================================================================================
============================================ MENU ASIDE ==============================================
====================================================================================================*/

.M-menu-aside {
    position: fixed;
    top: 3.15rem;
    left: 0;
    height: 100vh;
    width: 15.65rem;
    background-color: var(--third-color);
    border: 1px solid var(--border-color);
    border-top: none;
    transition: width 0.5s;
}

.M-menu-aside.close {
    width: 5rem;
}

.M-menu-aside .M-icon{
    padding-left: 1.8rem;
    transition: 0.5s;
}

.M-menu-aside.close .M-tittle{
    opacity: 0;
}

.M-menu-aside section{
    padding: 1rem 0 1rem 0;
    position: relative;
    height: auto;
}

.M-menu-aside section::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 87%;
    border-bottom: 1px solid var(--border-color);
    margin-left: 1rem;
    transition: 0.3s;
}

.M-menu-aside.close section::before{
    width: 60%;
}

.M-menu-aside section:last-child::before{
    display: none;
}

.M-menu-aside.section-highlight section::before {
    border-bottom-color: var(--org-color-darker);
    box-shadow: 0 0 3px 0 var(--org-color-darker);
}

.M-menu-aside .M-aside-gradient{
    position: absolute;
    width: 1px;
    height: 100vh;
    bottom: 0;
    background-color: var(--org-color);
    box-shadow: 0 0 5px 0 var(--org-color-lighter);
    z-index: +1;
    transition: 0.6s;
    transform: translateY(-50px);
}
.M-menu-aside.close .M-aside-gradient{
    height: 0;
}
.M-menu-aside .M-aside-top{
    position: relative;
    height: 6rem;
    width: 100%;
}

.M-menu-aside .M-aside-center ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    
}

.M-menu-aside .M-aside-center ul li{
    height: 2.2rem;
    line-height: 2.7rem;
    font-size: var(--size-font-subtittle);
    transition: 0.5s;
}

.M-menu-aside .M-aside-center ul li.active{
    height: 2.7rem;
    line-height: 2.7rem;
    width: calc(100% + 2px);
    transition: line-height 0;
    padding-left: 1.5rem;
    background-color: var(--fifth-color);
    border: 1px solid var(--border-color);
    border-right: none;
    border-left-color: var(--fifth-color);
    margin-left: -1px;
}

.M-menu-aside.close .M-aside-center ul li.active{
    padding-left: 0;
}

.M-menu-aside .M-aside-center ul li a{
    position: absolute;
    width: 100%;
}

.M-menu-aside .M-aside-center ul li.active a{
    font-size: 120%;
}

.M-menu-aside .M-aside-center ul li a span{
    position: fixed;
    padding-left: 0.8rem;
    transition: 0.5s;
}

.M-menu-aside.close .M-aside-center ul li a span{
    transform: translateX(-4rem);
    transition: 0.5s;
}

.M-menu-aside .M-aside-center ul li.active a span{
    color: var(--org-color);
    letter-spacing: 2px;
    font-weight: bold;
}

.M-menu-aside .M-aside-center ul li a .M-icon{
    height: 2.2rem;
    line-height: 2.2rem;
    color: var(--org-color);
}

.M-menu-aside .M-aside-footer .menu-buttom i{
    position: absolute;
    font-size: calc(var(--size-font-tittle) + 0.3rem);
    transition: 0.5s;
    padding-left: 1.42rem;
}

.M-menu-aside .M-aside-footer .menu-buttom i.close{
    opacity: 1;
    color: var(--org-color);
    font-size: calc(var(--size-font-tittle) + 0.8rem);
    padding-left: 1.17rem;
    margin-top: -0.2rem;
}

.M-menu-aside.close .M-aside-footer .menu-buttom i.close{
    opacity: 0;
}

.M-menu-aside.close .M-aside-footer .menu-buttom i.open{
    opacity: 1;
}
.M-menu-aside .M-aside-footer .menu-buttom i.open{
    opacity: 0;
}


/*====================================================================================================
======================================== CONFIG: S-SETTINGS ==========================================
====================================================================================================*/

main .S-settings {
    position: relative;
    width: 40%;
    min-width: 28.152rem;
    height: 100%;
    line-height: 2.5rem;
    border-right: 1px solid var(--border-color);
    background-color: var(--second-color);
    overflow-y: auto;
}

main .S-settings .S-top {
    position: relative;
    min-height: 3.125rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 1.875rem 0 3.125rem;
}

main .S-settings .S-top::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 1.4rem;
    min-width: 93%;
    border-bottom: 1px solid var(--border-color);
}

main .S-settings .S-top .S-logout-icon {
    position: absolute;
    width: 2.2rem;
    display: flex;
    justify-content: flex-start;
    height: 1.88rem;
    right: 0;
    top: 0.7rem;
    transition: 0.5s;
    border-right: 2px dashed transparent;
}

main .S-settings .S-top .S-logout-icon:hover {
    color: var(--org-color);
    border-right: 2px dashed var(--org-color);
}

main .S-settings .S-top .S-tittle {
    font-size: var(--size-font-tittle);
    font-weight: bolder;
    letter-spacing: 2px;
}

main .S-settings .S-top .S-logout-icon .icon-hover {
    left: -80px;
}

main .S-settings .S-top .S-logout-icon:hover .icon-hover {
    opacity: 0.8;
}

main .S-settings .S-top .S-search-icon {
    position: absolute;
    left: 25px;
}

main .S-settings .S-div-search {
    position: relative;
    height: 5.5rem;
    display: flex;
}

main .S-settings .S-div-search .S-search-buttom {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    height: 1.9rem;
    width: 22rem;
    background-color: var(--first-color);
    border-radius: 5rem;
    border: solid 1px var(--border-color);
    padding: 0 5px 0 5px;
}

main .S-settings .S-div-search input {
    width: 80%;
    outline: none;
    border-style: none;
    background-color: transparent;
}

main .S-settings .S-center {
    position: relative;
    margin-top: 3px;
    height: 100%;
    width: 100%;
}

main .S-settings::-webkit-scrollbar {
    display: none;
}

main .S-settings .S-center ul .S-buttom {
    width: 100%;
    height: 100%;
}

main .S-settings .S-center ul .S-buttom {
    line-height: 3rem;
    letter-spacing: 1px;
    padding-left: 3rem;
    font-size: var(--size-font-subtittle);
}

main .S-settings .S-center ul .S-buttom::after {
    content: '';
    position: absolute;
    width: 92%;
    left: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    transition: 0.5s;
}

main .S-settings .S-center ul .S-buttom.active::after {
    width: 100%;
    left: 0;
    transition: 0.5s;
}

main .S-settings .S-center ul .S-buttom:hover {
    background-color: var(--fourth-color);
}

main .S-settings .S-center ul .S-buttom .S-subbuttom .S-open-list-icon {
    position: absolute;
    right: 10px;
    margin-top: -33px;
    rotate: 0;
    transition: 0.4s;
    font-size: var(--size-font-icons);
}

main .S-settings .S-center ul .S-buttom.active .S-subbuttom .S-open-list-icon {
    rotate: -90deg;
    color: var(--org-color2);
    transition: 0.3s;
}

main .S-settings .S-center ul .S-buttom.active {
    color: var(--org-color);
    background-color: var(--fourth-color);
    border-left: 1px solid var(--org-color);
}

main .S-settings .S-center ul .S-buttom.active p:hover {
    color: var(--org-color);
    transition: 0.1s;
    cursor: pointer;
}

main .S-settings .S-center ul .S-buttom .S-subbuttom {
    line-height: 1.5rem;
    padding-left: 2.5rem;
    font-size: var(--size-font-text);
    letter-spacing: 2px;
    overflow: hidden;
    max-height: 0;
    transition: 0.5s;
}
main .S-settings .S-center ul .S-buttom .S-subbuttom li{
    opacity: 0;
    transition: 1.5s;
}
main .S-settings .S-center ul .S-buttom.active .S-subbuttom li{
    opacity: 1;
    transition: 0.4s;
}
main .S-settings .S-center ul .S-buttom.active .S-subbuttom {
    max-height: 500px;
    opacity: 1;
}


/*====================================================================================================
======================================= CONFIG: S-SUBSETTINGS ========================================
====================================================================================================*/


main .S-subsettings {
    position: relative;
    display: block;
    height: 100%;
    width: 60%;
    min-width: 37.5rem;
    background-color: var(--fourth-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    overflow-y: auto;
}

main .S-subsettings::-webkit-scrollbar {
    display: none;
}

main .S-subsettings .S-account-profile {
    height: 100%;
    width: 100%;
}

main .S-subsettings .S-account-profile section {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.7rem;
    border-bottom: 1px solid var(--border-color);
}

main .S-subsettings .S-account-profile section:last-child {
    border-bottom: none;
}

main .S-subsettings .S-account-profile section article {
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--border-color);
    line-height: 2rem;
}

main .S-subsettings .S-account-profile .S-back-icon {
    position: absolute;
    margin: 10px 0 0 10px;
    padding: 1px 2px 0 0;
    font-size: 2rem;
    background-color: var(--fourth-color);
    border: 1px solid var(--border-color);
    border-radius: 11px;
    cursor: pointer;
    z-index: 1;
    transition: 0.2s;
}

main .S-subsettings .S-account-profile .S-back-icon:hover {
    color: var(--org-color);
    border-color: var(--org-color-darker);
    transition: 0.2s;
    border-radius: 15px;
}

main .S-subsettings .S-account-profile .S-article-tittle {
    font-size: var(--size-font-subtittle);
    padding-left: 1rem;
    letter-spacing: 2px;
}

main .S-subsettings .S-account-profile .S-article-subtittle {
    padding: 0 0 0 2rem;
    font-size: var(--size-font-text);
}

main .S-subsettings .S-account-profile .S-profile {
    position: relative;
    width: 100%;
}

main .S-subsettings .S-account-profile .S-profile .S-cover {
    position: relative;
    width: 100%;
    height: 170px;
}

main .S-subsettings .S-account-profile .S-profile .S-cover img {
    width: 100%;
    height: 100%;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content {
    position: relative;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 65px;
    background-color: var(--fourth-color);
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images {
    position: absolute;
    display: flex;
    width: 15%;
    min-width: 6.25rem;
    height: 155%;
    min-height: 4.7rem;
    max-height: 12rem;
    max-width: 6.25rem;
    bottom: 0.3rem;
    left: 1rem;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images img {
    border-radius: 100%;
    cursor: pointer;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images .perfil-img {
    position: relative;
    width: 100%;
    height: 100%;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 110%;
    background-color: var(--fourth-color);
    border-radius: 100%;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-profile-images .org-img {
    position: absolute;
    width: 33.5%;
    height: 33%;
    bottom: 0;
    right: 0.1875rem;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-user-informations {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 8.25rem;
    height: 100%;
    gap: 0.5rem;
    width: auto;
    font-size: var(--size-font-text);
    line-height: 1rem;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-user-informations .nick {
    font-size: 1.7rem;
    font-weight: bolder;
    color: var(--org-color);
    letter-spacing: 2px;
}
main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-user-informations .name {
    padding-left: 0.2rem;
}
main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-edit-profile-buttom a {
    position: absolute;
    display: flex;
    right: 1rem;
    top: 1rem;
    height: 1.7rem;
    width: 6rem;
    border: 1px solid var(--border-color);
    border-radius: 10rem;
    cursor: pointer;
    color: lightgray;
    transition: 0.3s;
    font-weight: lighter;
    border-color: var(--border-color);
    background-color: var(--org-color-darker);
}

main .S-subsettings .S-account-profile .S-profile .S-profile-content .S-edit-profile-buttom a:hover {
    width: 6.2rem;
    color: var(--org-color);
    font-weight: bold;
    letter-spacing: 0.5px;
    border-color: var(--org-color);
}

main .S-subsettings .S-account-profile .S-profile .S-profile-numbers {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 3.2rem;
    font-size: var(--size-font-text);
}

main .S-subsettings .S-account-profile .S-profile .S-profile-numbers span {
    display: flex;
    gap: 0.5rem;
}

main .S-subsettings .S-account-profile .S-profile .S-profile-numbers em {
    color: var(--org-color);
    font-size: var(--size-font-subtittle);
    cursor: pointer;
    transition: 0.5s;
}

main .S-subsettings .S-account-profile .S-bio {
    position: relative;
    width: 100%;
    height: 6.25rem;
    padding-left: 0.8rem;
    margin-left: 1rem;
    border-left: 1px solid var(--border-color);
    font-size: var(--size-font-subtittle);
}

main .S-subsettings .S-account-profile .S-bio textarea {
    position: relative;
    width: 100%;
    height: 75%;
    outline: none;
    border-style: none;
    background-color: transparent;
}

main .S-subsettings .S-account-profile .S-theme {
    position: relative;
    width: 100%;
}

main .S-subsettings .S-account-profile .S-theme .S-toggle-mode {
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

main .S-subsettings .S-account-profile .S-theme .S-toggle-mode .S-checkbox {
    opacity: 0;
    position: absolute;
}

main .S-subsettings .S-account-profile .S-theme .S-toggle-mode .S-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    height: 1.1rem;
    width: 2.25rem;
    border-radius: 10rem;
    transform: scale(1.5);
    background-color: var(--fifth-color);
    font-size: 0.63rem;
    letter-spacing: 0.5rem;
    cursor: pointer;
}

main .S-subsettings .S-account-profile .S-theme .S-toggle-mode .S-label .S-sun {
    color: #ffd900;
}

main .S-subsettings .S-account-profile .S-theme .S-toggle-mode .S-label .S-moon {
    color: #2d2dff;
}

main .S-subsettings .S-account-profile .S-theme .S-toggle-mode .S-ball {
    background-color: var(--black-to-white-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 80%;
    width: 40.2%;
    transform: translateX(0);
    transition: transform 0.2s linear;
}

main .S-subsettings .S-account-profile .S-theme .S-toggle-mode .S-checkbox:checked+.S-label .S-ball {
    transform: translateX(1.1rem);
}

main .S-subsettings .S-account-profile .S-theme .S-toggle-color .S-options {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

main .S-subsettings .S-account-profile .S-theme .S-toggle-color .S-options img {
    width: 2rem;
    cursor: pointer;
    transition: var(--tran-03);
}