/*========================================================================================================================================================================
==========================================================================================================================================================================
==========================================================================================================================================================================
====================================================== ARQUIVO CSS ONDE TODAS AS VARIÁVEIS DEVEM SER DECLARADAS ==========================================================
================================================= ESTE ARQUIVO DEVE SER CHAMADO EM TODOS OS ARQUIVOS HTML DO PROJETO =====================================================
==========================================================================================================================================================================
==========================================================================================================================================================================
==========================================================================================================================================================================*/


@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    transition: 1s color border-color background-color;
}

:root {
    /* ============== CORES ============== */
    --black-to-white-color: #E2E2E2;
    /*Essa cor deve ser preta no modo claro e branca no modo escuro*/
    --white-to-black-color: #131313;
    /*Essa cor deve ser branca no modo claro e preta no modo escuro*/

    --text-color: #9E9C9C;
    /*Cor dos Textos*/
    --border-color: #585757;
    /*Cor das Bordas*/

    --first-color: #323435;
    --second-color: #27282A;
    /*Cor de primeiro foco*/
    --third-color: #242526;
    /*Cor dos Menus*/
    --fourth-color: #232325;
    /*Cor de sergundo foco*/
    --fifth-color: #18191A;
    /*Cor do body*/

    /* ========= CORES DAS ORGS ========= */
    --org-color: #00e226;
    --org-color2: #00e226;
    --org-color3: #00e226;
    --org-color-darker: #008516;
    --org-color-lighter: #61ff7c;
    --org-color-low-opacity: #00ff2a70;
    /*Cor de cada organização, porém com opacidade reduzida*/

    /* ============== FONTES ============== */

    --family-font-title: 'Montserrat', 'sans-serif';

    --size-font-title: 26px;
    --size-font-icons: 18px;
    --size-font-subtitle: 16px;
    --size-font-text: 14px;
    --size-font-detail: 12px;

    /* ============== TANSIÇÕES ============== */
    --element-in: 0.45s;
    --element-out: 0.65s;
}

/*====================================================================================================
=============================== DEFINIÇÃO / SUBSTITUIÇÃO DAS VÁRIAVEIS ===============================
====================================================================================================*/

.dark-mode {
    --black-to-white-color: #E2E2E2;
    --white-to-black-color: #131313;

    --text-color: #9E9C9C;
    --border-color: #585757;

    --first-color: #383A3B;
    --second-color: #27282A;
    --third-color: #242526;
    --fourth-color: #232325;
    --fifth-color: #18191A;
}

.light-mode {
    --black-to-white-color: #000000;
    --white-to-black-color: #E2E2E2;

    --text-color: #252525;
    --border-color: #B1B1B1;

    --first-color: #f3f3f3;
    --third-color: #ffffff;
    --second-color: #FFFFFF;
    --fourth-color: #F9FAFF;
    --fifth-color: #EBEBF5;
}


.fluxo-color {
    --org-color: #C300FF;
    --org-color2: #C91085;
    --org-color3: #C300FF;
    --org-color-darker: #680088;
    --org-color-lighter: #D650FF;
    --org-color-low-opacity-color: #C300FF70;
}

.kru-color {
    --org-color: #FF00B3;
    --org-color2: #FF00B3;
    --org-color3: #FF00B3;
    --org-color-darker: #910065;
    --org-color-lighter: #ff5dce;
    --org-color-low-opacity-color: #FF00B370;
}

.leviatan-color {
    --org-color: #4687BD;
    --org-color2: #4687BD;
    --org-color3: #4687BD;
    --org-color-darker: #20425C;
    --org-color-lighter: #6DBAFA;
    --org-color-low-opacity-color: #4687BD70;
}

.liberty-color {
    --org-color: #00FFFF;
    --org-color2: #00FFFF;
    --org-color3: #00FFFF;
    --org-color-darker: #006969;
    --org-color-lighter: #7DFFFF;
    --org-color-low-opacity-color: #00FFFF70;
}

.los-color {
    --org-color: #FF4500;
    --org-color2: #FF4500;
    --org-color3: #FF4500;
    --org-color-darker: #AC2E00;
    --org-color-lighter: #FF6027;
    --org-color-low-opacity-color: #FF450070;
}

.loud-color {
    --org-color: #00EB00;
    --org-color2: #00EB00;
    --org-color3: #00EB00;
    --org-color-darker: #007200;
    --org-color-lighter: #2DFF2D;
    --org-color-low-opacity-color: #00FF2A70;
}

.magic-squad-color {
    --org-color: #0EB1A9;
    --org-color2: #0EB1A9;
    --org-color3: #0EB1A9;
    --org-color-darker: #006969;
    --org-color-lighter: #55b9b4;
    --org-color-low-opacity-color: #0EB1A970;
}

.pain-color {
    --org-color: #FF0000;
    --org-color2: #FF0000;
    --org-color3: #FF0000;
    --org-color-darker: #810000;
    --org-color-lighter: #ff2f2f;
    --org-color-low-opacity-color: #FF000070;
}

.red-canids-color {
    --org-color: #DB0630;
    --org-color2: #FF1947;
    --org-color3: #B32844;
    --org-color-darker: #8A031E;
    --org-color-lighter: #DB2D50;
    --org-color-low-opacity-color: #DB063070;
}

.sentinels-color {
    --org-color: #E70045;
    --org-color2: #E70045;
    --org-color3: #E70045;
    --org-color-darker: #770024;
    --org-color-lighter: #a73759;
    --org-color-low-opacity-color: #E7004570;
}

.team-liquid-color {
    --org-color: #2b40ff;
    --org-color2: #e2970c;
    --org-color3: #002ec5;
    --org-color-darker: #00165e;
    --org-color-lighter: #294ec9;
    --org-color-low-opacity-color: #002ec570;
}

.vivo-keyd-color {
    --org-color: #7A11C5;
    --org-color2: #7A11C5;
    --org-color3: #7A11C5;
    --org-color-darker: #310053;
    --org-color-lighter: #9a42d8;
    --org-color-low-opacity-color: #7A11C570;
}