@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat&display=swap');

/*===============================================================================================================================
=================================================================================================================================
=================================================================================================================================
================================= ARQUIVO CSS ONDE TODAS AS VARIÁVEIS DEVEM SER DECLARADAS ======================================
============================ ESTE ARQUIVO DEVE SER CHAMADO EM TODOS OS ARQUIVOS HTML DO PROJETO =================================
=================================================================================================================================
=================================================================================================================================
=================================================================================================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    transition: 1s color border-color background-color;
}

:root {
    /* ========= VARIÁVEIS DE MODO (PADRÃO) ========= */

    --white-to-black-color: #E2E2E2;
    /*Essa cor deve ser preta no modo claro e branca no modo escuro*/
    --black-to-white-color: #131313;
    /*Essa cor deve ser branca no modo claro e preta no modo escuro*/
    --text-color: #9E9C9C;
    /*Cor dos Textos*/
    --border-color: #585757;
    /*Cor das Bordas*/
    --modal-focus-color: #000000ab;
    /*Cor do body ao abrir um modal*/
    --active-color: #3a3c3d;
    /*Cor dos ícones e itens ativados ou com hover*/
    --first-color: #323435;
    /*Cor de primeiro foco*/
    --second-color: #27282A;
    /*Cor de primeiro foco*/
    --half-second-color: #2D2E30;
    /*Cor de segundo foco secundária*/
    --menu-color: #242526;
    /*Cor dos Menus*/
    --third-color: #232325;
    /*Cor de terceriro foco*/
    --half-third-color: #212124;
    /*Cor de terceiro foco*/
    --third-color: #232325;
    /*Cor de terceiro foco secundária*/
    --fourth-color: #1d1d1f;
    /*Cor de quarto foco*/
    --body-color: #18191A;
    /*Cor do body*/

    /* ========= VARIÁVEIS DE CORES (PADRÃO) ========= */

    --org-color1: #00EB00;
    /*Cor primária*/
    --org-color2: #00EB00;
    /*Cor secundária*/
    --org-color3: #00EB00;
    /*Cor terciária*/
    --org-color4: #00EB00;
    /*Cor quarternária*/
    --org-color5: #00EB00;
    /*Cor quinternária*/
    --org-color-darker: #007200;
    /*Cor primária mais escuro*/
    --org-color-lighter: #2DFF2D;
    /*Cor primária mais claro*/
    --org-color-low-opacity: #00FF2A80;
    /*Cor primária com opacidade menor (80%)*/
    --org-color-transparent: #00FF2A20;
    /*Cor primária com opacidade muito menor (20%)*/

    /* ============== FONTES ============== */

    --family-font-title: 'Montserrat', 'sans-serif';

    --size-font-title: 26px;
    --size-font-icons: 18px;
    --size-font-subtitle: 16px;
    --size-font-text: 14px;

    --weight-font-normal: 500;
    --weight-font-bold: 1000;

    /* ============== TANSIÇÕES ============== */
    --element-in: 0.45s;
    --element-out: 0.65s;
}


/*====================================================================================================
========================================= VARIÁVEIS DE MODO ==========================================
==================================== MODO CLARO / ESCURO / NEUTRO ====================================
====================================================================================================*/


.dark-mode {
    --white-to-black-color: #EFEFEF;
    --black-to-white-color: #131313;

    --text-color: #9E9C9C;
    --border-color: #585757;
    --menu-color: #242526;
    --modal-focus-color: #000000ab;
    --active-color: #3a3c3d;

    --first-color: #383A3B;
    --second-color: #27282A;
    --third-color: #232325;
    --fourth-color: #18191A;
}

.light-mode {
    --white-to-black-color: #131313;
    --black-to-white-color: #E2E2E2;

    --text-color: #252525;
    --border-color: #B1B1B1;
    --menu-color: #ffffff;
    --modal-focus-color: #000000d0;
    --active-color: #3a3c3d;

    --first-color: #f3f3f3;
    --second-color: #FFFFFF;
    --third-color: #F9FAFF;
    --fourth-color: #EBEBF5;
}

.G-wrong{
    color: #CE0037;
    font-weight: 600;
}

/*====================================================================================================
======================================== VARIÁVEIS DE COR: ===========================================
=====================================================================================================*/
::selection {
    background-color: var(--org-color-transparent);
    color: var(--white-to-black-color);
}

.G-white {
    --org-color1: #EFEFEF; /* Branco versão 1 */
    --org-color2: #EFEFEF; /* Branco versão 2 */
    --org-color-darker: #5f5f5f; /* Uma versão mais escura da cor branca */
    --org-color-lighter: #FFFFFF; /* Uma versão mais clara da cor branca */
    --org-color-color-low-opacity: #EFEFEF60; /* Branco com baixa opacidade */
    --org-color-transparent: #EFEFEF30; /* Branco semi-transparente */
}

.G-red {
    --org-color1: #FF0000; /* Vermelho versão 1 */
    --org-color2: #FF0000; /* Vermelho versão 2 */
    --org-color-darker: #6F0000; /* Uma versão mais escura da cor vermelha */
    --org-color-lighter: #FF6666; /* Uma versão mais clara da cor vermelha */
    --org-color-color-low-opacity: #FF000060; /* Vermelho com baixa opacidade */
    --org-color-transparent: #FF000030; /* Vermelho semi-transparente */
}

.G-orange {
    --org-color1: #FF7A00; /* Laranja versão 1 */
    --org-color2: #FF7A00; /* Laranja versão 2 */
    --org-color-darker: #683200; /* Uma versão mais escura da cor laranja */
    --org-color-lighter: #FFA733; /* Uma versão mais clara da cor laranja */
    --org-color-color-low-opacity: #FF7A0060; /* Laranja com baixa opacidade */
    --org-color-transparent: #FF7A0030; /* Laranja semi-transparente */
}

.G-yellow {
    --org-color1: #FFFF00; /* Amarelo versão 1 */
    --org-color2: #FFFF00; /* Amarelo versão 2 */
    --org-color-darker: #77770f; /* Uma versão mais escura da cor amarela */
    --org-color-lighter: #FFFF99; /* Uma versão mais clara da cor amarela */
    --org-color-color-low-opacity: #FFFF0060; /* Amarelo com baixa opacidade */
    --org-color-transparent: #FFFF0030; /* Amarelo semi-transparente */
}

.G-green {
    --org-color1: #00FF00; /* Verde versão 1 */
    --org-color2: #00FF00; /* Verde versão 2 */
    --org-color-darker: #004e00; /* Uma versão mais escura da cor verde */
    --org-color-lighter: #66FF66; /* Uma versão mais clara da cor verde */
    --org-color-color-low-opacity: #00FF0060; /* Verde com baixa opacidade */
    --org-color-transparent: #00FF0030; /* Verde semi-transparente */
}

.G-cyan {
    --org-color1: #00FFFF; /* Ciano versão 1 */
    --org-color2: #00FFFF; /* Ciano versão 2 */
    --org-color-darker: #005353; /* Uma versão mais escura da cor ciano */
    --org-color-lighter: #66FFFF; /* Uma versão mais clara da cor ciano */
    --org-color-color-low-opacity: #00FFFF60; /* Ciano com baixa opacidade */
    --org-color-transparent: #00FFFF30; /* Ciano semi-transparente */
}

.G-blue {
    --org-color1: #1E90FF; /* Azul versão 1 */
    --org-color2: #1E90FF; /* Azul versão 2 */
    --org-color-darker: #003c5f; /* Uma versão mais escura da cor azul */
    --org-color-lighter: #7FB3D5; /* Uma versão mais clara da cor azul */
    --org-color-color-low-opacity: #1E90FF60; /* Azul com baixa opacidade */
    --org-color-transparent: #1E90FF30; /* Azul semi-transparente */
}

.G-purple {
    --org-color1: #A020F0; /* Roxo versão 1 */
    --org-color2: #A020F0; /* Roxo versão 2 */
    --org-color-darker: #370058; /* Uma versão mais escura da cor roxa */
    --org-color-lighter: #C18FFF; /* Uma versão mais clara da cor roxa */
    --org-color-color-low-opacity: #A020F060; /* Roxo com baixa opacidade */
    --org-color-transparent: #A020F030; /* Roxo semi-transparente */
}

.G-pink {
    --org-color1: #FF008A; /* Rosa versão 1 */
    --org-color2: #FF008A; /* Rosa versão 2 */
    --org-color-darker: #5e0033; /* Uma versão mais escura da cor rosa */
    --org-color-lighter: #FF66B2; /* Uma versão mais clara da cor rosa */
    --org-color-color-low-opacity: #FF008A60; /* Rosa com baixa opacidade */
    --org-color-transparent: #FF008A30; /* Rosa semi-transparente */
}
